@if (semesters$ | async; as semesters) {
  <ng-container role="Dialoginhalt">
    <div class="content-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Wähle das Semester aus:</mat-label>
        <mat-select #semester [formControl]="selectedSemester" aria-label="Dropdown zur Semesterauswahl"
          (selectionChange)="updateSemester()" required>
          @for (semester of semesters; track semester) {
            <mat-option [value]="semester.name">
              {{ semester.name | Semester }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-dialog-actions>
        <button mat-raised-button class="btn btn-outline" mat-dialog-close (click)="cancel()">
          Abbrechen
        </button>
        <button mat-raised-button class="btn btn-primary" (click)="saveSemester()"
          [mat-dialog-close]="{ semester: selectedSemester.value }"
          [disabled]="!hasDefinedTeachingPeriod || !selectedSemester.value">
          Ändern
        </button>
      </mat-dialog-actions>
    </div>
  </ng-container>
}