<div class="feedback-form-wrapper p-4">
  <div class="feedback-form py-4">
    <p class="fw-bold" i18n>Hier kannst du Feedback zum Modul geben und bearbeiten. Dein Feedback trägt dazu bei,
    deine Modulempfehlungen zu verbessern.</p>
    <hr />
    <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
      @for (question of questions; track question) {
        <div class="mb-3">
          <label class="form-label mb-2">{{ question.label }}</label>
          <div class="d-flex justify-content-end flex-row-reverse">
            @for (option of [5, 4, 3, 2, 1]; track option) {
              <input type="radio" [id]="question.id + '-' + option" [value]="option"
                [formControlName]="question.id" class="d-none" />
                <label [for]="question.id + '-' + option" class="star-label">
                            <i class="bi" [ngClass]="{
                  'bi-star-fill text-blue': $safeNavigationMigration(feedbackForm.get(question.id)?.value) >= option,
                  'bi-star': $safeNavigationMigration(feedbackForm.get(question.id)?.value) < option
                }"></i>
                </label>
              }
            </div>
          </div>
        }
        <button type="submit" class="btn btn-primary" i18n>
          Feedback absenden
        </button>
      </form>
      <hr />
    </div>
  </div>