@if (!maintenance) {
  <div id="module-overview" class="container mx-auto my-3 my-md-5">
    <h1 class="text-center text-sm-start" i18n>Modulkatalog</h1>
    <!-- Hinweis Modulerklärung -->
    <app-hint [key]="moduleHint" [hintMessage]="moduleHintMessage"></app-hint>
    <app-search-panel [searchSettings]="searchSettings$ | async" [filterOptions]="filterList" [horizontalFilters]="true"
      (search)="searchModules($event)">
    </app-search-panel>
    <!-- Mobile View Collapse Button -->
    @if (mobileView) {
      <button class="expand-toggle-button" [ngClass]="{'open': sideNavOpened, 'closed': !sideNavOpened}"
        (click)="toggleSidenav()" (keyup.enter)="toggleSidenav()">
        <span class="icon-wrapper">
          <i [ngClass]="sideNavOpened ? 'bi-chevron-double-left' : 'bi-chevron-double-right'" class="bi"></i>
        </span>
      </button>
    }
    <!-- Sidenav area -->
    <mat-sidenav-container #sidenavContainer [hasBackdrop]="false">
      <!-- Beginn group navigation -->
      <mat-sidenav id="structure-sidenav" class="panel" [class.open]="sideNavOpened" [class.closed]="!sideNavOpened" [opened]="sideNavOpened" [mode]="'side'">
        <div #sidenav class="sticky-sidenav me-4">
          <ng-container *ngTemplateOutlet="GroupingOptions"></ng-container>
          <app-group-navigation [searchSettings]="searchSettings$ | async" [removeGroupFilters]="removeGroupFilters"
          [selectedGroup]="selectedGroup" [groups]="groups" [modules]="modules$ | async"></app-group-navigation>
        </div>
      </mat-sidenav>
      <!-- End group navigation -->
      <mat-sidenav-content>
        @if (selectedGroupFilter && mobileView) {
          <h4 class="filter-display">
            <span i18n>Gruppiert nach: </span>
            <span class="fst-italic me-3">{{selectedGroupFilter.name}}</span>
            <span class="d-inline-block link" (click)="removeGroupFilter()" i18n><i class="me-1 bi bi-x-lg"></i>Gruppierung
          aufheben</span>
        </h4>
      }
      <!-- Beginn search results -->
      <div class="d-flex flex-rowalign-items-start">
        <!-- Desktop View Collapse Button -->
        @if (!mobileView) {
          <div class="mx-3 desktop-toggle-button" role="button"
            [ngClass]="{'open': sideNavOpened, 'closed': !sideNavOpened}" (click)="toggleSidenav()"
            (keyup.enter)="toggleSidenav()">
            <span class="icon-wrapper">
              <i [ngClass]="sideNavOpened ? 'bi-chevron-double-left' : 'bi-chevron-double-right'" class="bi"></i>
            </span>
          </div>
        }
        <app-module-list class="w-100" [modules]="modules$ | async" [acronyms]="acronyms$ | async"
        [searchSettings]="searchSettings$ | async" [passedOrTakenAcronyms]="passedOrTakenAcronyms"></app-module-list>
      </div>
      <!-- End search results -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
} @else {
  <app-maintenance-message [feature]="'Modulkatalog'"></app-maintenance-message>
}


<ng-template #GroupingOptions>
  <div class="d-flex flex-row align-items-center mt-1 mb-4">
    <!-- Grouping input field -->
    <div class="grouping-wrapper">
      <form>
        <mat-form-field class="mb-0" appearance="outline">
          <mat-label i18n>
            Gruppieren nach...
          </mat-label>
          <mat-select [(value)]="selectedGroup" (selectionChange)="onGroupingSelectionChange($event.value)">
            @for (option of groupingOptions; track option) {
              <mat-option [value]="option.value">
                {{ option.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <!-- Deselection Button -->
    @if (!mobileView) {
      <div class="me-lg-0 me-2">
        @if (selectedGroupFilter) {
          <button class="btn btn-sm btn-outline ms-0 w-100" (click)="removeGroupFilter()">
            <i class="bi bi-x-lg"></i>
            <span class="ms-2" i18n>Auswahl aufheben</span>
          </button>
        }
      </div>
    }
  </div>
</ng-template>