.hint-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
    border-radius: 4px;
    margin: 1rem 0 2rem 0;
    padding: 1rem;
}

.hint-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 4px;
    border: 1px solid #f5c6cb; 
    margin: 1rem 0 2rem 0;
    padding: 1rem;
}