<nav class="navbar navbar-expand pb-0 row">
  <div class="col d-flex justify-content-between align-items-end">
    <ul class="main-nav navbar-nav me-auto align-items-start">
      @if (user.shibId !== "") {
        <!-- nav components for studyassistant -->
        <li class="nav-item me-xl-5 me-lg-4 me-md-3">
          <span
            class="nav-link"
            role="button"
            tabindex="0"
            aria-haspopup="false"
            aria-label="Dashboard"
            i18n-aria-label
            routerLink="app/dashboard"
            routerLinkActive="active"
          >
            <i class="bi bi-person-vcard"></i>
            <span class="d-none d-lg-inline ms-2" i18n>Dashboard</span>
            <span class="d-none d-lg-none d-sm-inline ms-2" i18n="Nav Board Element">Board</span>
          </span>
        </li>
        <li class="nav-item me-xl-5 me-lg-4 me-md-3">
          <span
            class="nav-link"
            role="button"
            tabindex="0"
            aria-haspopup="false"
            aria-label="Modulkatalog"
            i18n-aria-label
            routerLink="app/modulkatalog"
            routerLinkActive="active"
          >
            <i class="bi bi-book"></i>
            <span class="d-none d-xxl-inline ms-2" i18n>Modulkatalog</span>
            <span class="d-none d-xxl-none d-sm-inline ms-2" i18n>Module</span>
          </span>
        </li>
        <li class="nav-item me-xl-5 me-lg-4 me-md-3">
          <button
            class="nav-link"
            role="button"
            tabindex="0"
            aria-haspopup="false"
            aria-label="Semesterplanung"
            i18n-aria-label
            routerLink="app/semester"
            routerLinkActive="active"
          >
            <i class="bi bi-calendar2-week"></i>
            <span class="d-none d-lg-inline ms-2" i18n>Stundenplan</span>
            <span class="d-none d-lg-none d-sm-inline ms-2" i18n>Stundenplan</span>
          </button>
        </li>
        <li
          id="study_prog_nav_item"
          class="nav-item me-xl-5 me-lg-4 me-md-3 plausible-event-name=Studyprogression+Navbar"
        >
          @if (id$) {
            <span
              class="nav-link"
              role="button"
              tabindex="0"
              aria-haspopup="false"
              aria-label="Studienverlaufsplan"
              i18n-aria-label
              routerLink="app/studium/studienplan/{{ id$ }}"
              routerLinkActive="active"
            >
              <i class="bi bi-list-ol"></i>
              <span class="d-none d-xxl-inline ms-2" i18n>Studienverlaufsplan</span>
              <span class="d-none d-xxl-none d-sm-inline ms-2" i18n
                >Verlaufsplan</span
              >
            </span>
          } @else {
            <span
              class="nav-link"
              role="button"
              tabindex="0"
              aria-haspopup="false"
              aria-label="Studienverlaufsplan"
              i18n-aria-label
              routerLink="app/studium/ueberblick"
              routerLinkActive="active"
            >
              <i class="bi bi-list-ol"></i>
              <span class="d-none d-lg-inline ms-2" i18n>Studienverlaufsplan</span>
              <span class="d-none d-lg-none d-sm-inline ms-2" i18n>Studium</span>
            </span>
          }
        </li>
        @if (!bilappAvailable && isWIAIStudent) {
          <li class="nav-item me-xl-5 me-lg-4 me-md-3">
            <span
              class="nav-link"
              role="button"
              tabindex="0"
              aria-haspopup="false"
              aria-label="Empfehlungsbereich"
              i18n-aria-label
              routerLink="app/personalisierung"
              routerLinkActive="active"
            >
              <span class="d-flex align-items-center gap-2">
                <i class="bi bi-magic"></i>
                <span class="d-none d-xl-inline" i18n>Personalisierung</span>
                <span class="d-none d-xl-inline badge beta-badge" i18n>Beta</span>
              </span>
            </span>
          </li>
        }
        <!-- TODO uncomment for evaluation -->
        <!-- <li class="nav-item me-xl-5 me-lg-4 me-md-3" *ngIf="user.roles.includes('advisor')">
        <span class="nav-link" role="button" tabindex="0" aria-haspopup="false" aria-label="Evaluation"
          routerLink="app/evaluation" routerLinkActive="active">
          <i class="bi bi-clipboard2-check"></i>
          <span class="d-none d-xl-inline ms-2">Evaluation</span>
        </span>
      </li> -->
        @if (user.roles.includes("admin")) {
          <li class="nav-item me-xl-5 me-lg-4 me-md-3">
            <span
              class="nav-link"
              role="button"
              tabindex="0"
              aria-haspopup="false"
              aria-label="Admin-Bereich"
              i18n-aria-label
              routerLink="app/admin"
              routerLinkActive="active"
            >
              <i class="bi bi-incognito"></i>
              <span class="d-none d-xl-inline ms-2" i18n>Admin</span>
            </span>
          </li>
        }
        @if (bilappAvailable) {
          <li class="nav-item me-xl-5 me-lg-4 me-md-3">
            <span
              class="nav-link"
              role="button"
              tabindex="0"
              aria-haspopup="false"
              aria-label="Kompetenzvisualisierung"
              i18n-aria-label
              routerLink="app/kompetenzen"
              routerLinkActive="active"
            >
              <i class="bi bi-clipboard-data"></i>
              <span class="d-none d-md-inline ms-2" i18n>Kompetenzen</span>
            </span>
          </li>
        }
      }
    </ul>
  </div>
</nav>
