<!-- .donut-scroll-room gives #donutComponent room to scroll within, mirroring
     bar-chart's .min-vh-200 - both use the same breakpoint so the two panels
     stick/release together. -->
<div class="donut-scroll-room">
  <div id="donutComponent" (mouseleave)="hideInfo()">
    @if (selectedBar) {
      <h5>
        {{ selectedBar.competence.name }}
      </h5>
    }
    <div id="donut-chart">
      <reporting-echarts-host [option]="option"
        (chartClick)="onSliceInteract($event)"
        (chartMouseOver)="onSliceInteract($event)"></reporting-echarts-host>
    </div>
    <div id="competence-list">
      <h6>Unterkompetenzen, welche nicht abgedeckt sind:</h6>
      @for (comp of childCompetences; track comp; let i = $index) {
        <span>
          @if (this.fulfillment && this.fulfillment[i].fulfillment === 0) {
            <span class="no-fulfillment"
              (click)="showInfoFor(comp.compId)"
            (mouseover)="showInfoFor(comp.compId)"> {{ comp.compId | formatCompetence }} </span>
          }
        </span>
      }
    </div>
    @if (showInfo) {
      <div id="infoField">
        <div id="shortDescription">{{ description }}</div>
        <hr>
          <div id="longDescription">{{ longDescription }}</div>
        </div>
      } @else {
      <div class="alert alert-primary" id="hint">
        Bitte klicken Sie auf eines der Kreissegmente oder fahren mit der Maus hinein um nähere Informationen zu erhalten.
      </div>
    }
  </div>
</div>
