.navigation-tree {
    background-color: inherit;
}

.tree-node:hover {
  cursor: pointer;
  opacity: 0.75;
}

.navigation-tree-invisible {
  display: none;
}
  
.navigation-tree ul,
.navigation-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
  
/*
  * This padding sets alignment of the nested nodes.
  */
.navigation-tree .mat-nested-tree-node div[role=group] {
  padding-left: 1rem;
}
  
/*
  * Padding for leaf nodes.
  * Leaf nodes need to have padding so as to align with other non-leaf nodes
  * under the same parent.
  */
.navigation-tree div[role=group] > .mat-tree-node {
  padding-left: 1rem;
}

.marked-node {
  font-weight: bold;
}