<!-- Tree section -->
<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" class="navigation-tree">
  <!-- This ist the tree node for leafs -->
  <mat-tree-node *matTreeNodeDef="let node">
    <div class="w-100">
      <div class="fs-6">
        <div id="{{node.mgId}}-node" class="tree-node" [class.ms-4]="!node.parent"
          (click)="selectFilter($event, node)">{{
          node.fullName.endsWith('(Modulgruppe)') || node.fullName.endsWith('(Fach)') ? node.name :
        node.fullName}}</div>
        <ng-container *ngTemplateOutlet="groupMetaInformation; context: { group: node }"></ng-container>
        @if (selectedGroupFilter && selectedGroupFilter.value === node.mgId) {
          <ng-container *ngTemplateOutlet="groupDescription; context: { group: node }"></ng-container>
        }
      </div>
      @if (!node.parent) {
        <hr class="mt-1 mb-2" />
      }
    </div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div class="mat-tree-node">
      <div class="fs-6">
        <div id="{{node.mgId}}-node" class="tree-node">
          @if (!tree.isExpanded(node)) {
            <i matTreeNodeToggle (click)="toggleNode(tree, node)" class="bi bi-chevron-right me-2"
            ></i>
          }
          @if (tree.isExpanded(node)) {
            <i matTreeNodeToggle (click)="toggleNode(tree, node)" class="bi bi-chevron-down me-2"
            ></i>
          }
          <span (click)="selectFilter($event, node)">{{ node.fullName.endsWith('(Modulgruppe)') ||
            node.fullName.endsWith('(Fach)') ?
          node.name : node.fullName}}</span>
        </div>
        <ng-container *ngTemplateOutlet="groupMetaInformation; context: { group: node }"></ng-container>
      </div>
    </div>
    <!-- There is inline padding applied to this div using styles.
    This padding value depends on the mat-icon-button width.  -->
    <div [class.navigation-tree-invisible]="!tree.isExpanded(node)" role="group">
      <ng-container *ngTemplateOutlet="groupDescription; context: { group: node }"></ng-container>
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
    @if (!node.parent) {
      <hr class="mt-1 mb-2" />
    }
  </mat-nested-tree-node>
</mat-tree>

<!--------------------------------------------
-------- Template Section ------------------
-------------------------------------------->
<!-- Template for description of moduleGroup -->
<ng-template #groupDescription let-group="group">
  @if (group.desc != '') {
    <div class="d-flex flex-row align-items-start my-1 s-text"
      [ngClass]="group.desc.length > 200 ? 'truncate' : ''">
      @if (group.desc.length > 200) {
        <div role="button" class="px-2">
          <i id="{{ group.mgId }}-icon" class="bi bi-chevron-right" (click)="toggleModuleDescription($event, group)"
            (keyup.enter)="toggleModuleDescription($event, group)">
          </i>
        </div>
      }
      <div id="{{ group.mgId }}-description" [ngClass]="group.desc.length > 200 ? 'truncate-text' : ''"
      [innerHtml]="group.desc"></div>
    </div>
  }
</ng-template>

<ng-template #groupMetaInformation let-group="group">
  <div class="d-flex flex-row ms-4">
    @if (group.ectsMin !== undefined && group.ectsMax) {
      <div class="me-2">
        @if (group.ectsMin == group.ectsMax) {
          <div class="chip xs-chip ects-chip">
            {{ group.ectsMin }} ECTS
          </div>
        }
        @if (group.ectsMin != group.ectsMax) {
          <div class="chip xs-chip ects-chip">
            {{ group.ectsMin }} - {{ group.ectsMax }} ECTS
          </div>
        }
      </div>
    }
    @if (group.achievedEcts) {
      <div class="chip xs-chip success-chip">
        Erreicht: {{ group.achievedEcts }} ECTS
      </div>
    }
  </div>
</ng-template>