<div class="mx-4 mb-4">
  <h2 mat-dialog-title i18n>Bestehende Lehrveranstaltung aus BilApp übernehmen:</h2>
  <mat-dialog-content class="mat-typography">
    <!-- Select Semester -->
    <p i18n>Wählen Sie ein Semester aus, aus dem Sie einen bestehende Lehrveranstaltung übernehmen möchten:</p>
    <mat-form-field appearance="fill">
      <mat-label i18n>Semester</mat-label>
      <mat-select [(value)]="selectedSemester" (selectionChange)="getCourses()">
        @for (semester of semesters; track semester) {
          <mat-option [value]="semester.key">
            {{ semester.value }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- Select concrete Course -->
    @if (selectedSemester) {
      <div>
        <p i18n>Wählen Sie nun eine Lehrveranstaltung aus, dessen Daten Sie übernehmen möchten:</p>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label i18n>Lehrveranstaltung</mat-label>
          <!-- <mat-select [(value)]="selectedCourse">
          <mat-option *ngFor="let course of courses$ | async" [value]="course.id">
            {{ course.name }}
          </mat-option>
        </mat-select> -->
        <input type="text" matInput [matAutocomplete]="auto" [formControl]="selectedCourse">
        <mat-autocomplete #auto="matAutocomplete">
          @for (course of filteredCourseNames$ | async; track course) {
            <mat-option [value]="course">
              {{ course }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close class="btn btn-outline me-2" i18n>Abbrechen</button>
  <button [mat-dialog-close]="getCourseId()" class="btn btn-success" [disabled]="!(selectedCourse.value !== '')" i18n>Auswahl übernehmen</button>
</mat-dialog-actions>
</div>