.header-heading {
  font-size: 0.8rem;
}

.vh-100-min {
  min-height: 100vh;
}

#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

main {
  padding-top: 51px;
  background: var(--cus-bg-100);
  padding-bottom: 20px;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 25px 0px;
  color: white;
  font-size: 0.8rem;
}

footer ul li {
  display: inline;
  list-style-type: none;
  margin: 25px 50px;
}

#baula-logo{
  height: 28px;
  width: auto;
}
@media (min-width: 1400px) {
  .header-heading {
    font-size: 1rem;
  }
}