.status-active {
  color: #217178;
  background: #ddf3f5;
}

.active-toggle {
  color: var(--ub-blue);
}

.status-toggle {
  font-size: 1.5rem;
}

.text-gray {
  color: gray;
}

.mat-focus-indicator:hover {
  background: none !important;
}

