<div class="container" *ngIf="report$ | async as report">
    <div class="row">
        <!-- General data -->
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Allgemeines</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <div class="m-2">
                        <i class="me-1 bi bi-people-fill"></i>
                        <span class="me-1 fw-bolder">User insgesamt: </span>
                        <span class="me-1">{{report.allUsers}}</span>
                    </div>
                    <div class="m-2">
                        <i class="me-1 bi bi-person-fill-check"></i>
                        <span class="me-1 fw-bolder">User (aktiv): </span>
                        <span class="me-1">{{report.activeUsers}}</span>
                        <i class="bi bi-info-circle" matTooltip="Anzahl der User, die im letzten Monat aktiv waren"></i>
                    </div>
                    <div class="m-2">
                        <i class="me-1 bi bi-journal-text"></i>
                        <span class="me-1 fw-bolder">Studienpläne (aktiv): </span>
                        <span class="me-1">{{report.frequencyStudyPlans}}</span>
                        <i class="bi bi-info-circle"
                            matTooltip="Anzahl der Studienpläne, die im letzten Monat geändert wurden"></i>
                    </div>
                    <div class="m-2">
                        <button class="btn btn-primary" (click)="exportReport(report)">
                            <i class="bi bi-file-earmark-arrow-down"></i>
                            <span class="ms-1">Export (JSON)</span>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Modulestatus appearance -->
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Häufigkeit Modulstatus</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <canvas #moduleStatusChart baseChart [data]="moduleStatusChartData" [options]="barChartOptions"
                        [type]="barChartType">
                    </canvas>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- frequency of studyplans as cluster -->
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Häufigkeit Studienpläne (Cluster)</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <canvas #frequencyStudyPlansClusteredChart baseChart [data]="frequencyStudyPlansClusteredChartData"
                        [options]="barChartOptions" [type]="barChartType">
                    </canvas>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Chart, when users where last updated -->
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Aktualität User</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <table mat-table [dataSource]="paginatedLastActiveUsersHistory">
                        <ng-container matColumnDef="name">
                            <th class="fw-bold" mat-header-cell *matHeaderCellDef> Monat / Jahr </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="count">
                            <th class="fw-bold text-center" mat-header-cell *matHeaderCellDef> Häufigkeit </th>
                            <td class="text-center" mat-cell *matCellDef="let element"> {{element.count}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['name', 'count']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['name', 'count'];"></tr>
                    </table>
                    <mat-paginator hidePageSize [length]="report.lastActiveUsersHistory.length" [pageSize]="pageSize"
                        (page)="onPageChange($event, 'lastActiveUsersHistory', report.lastActiveUsersHistory)"></mat-paginator>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- frequency of start semester -->
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Häufigkeit Startsemester</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <table mat-table [dataSource]="paginatedFrequencyStartSemester">
                        <ng-container matColumnDef="name">
                            <th class="fw-bold" mat-header-cell *matHeaderCellDef> Startsemester </th>
                            <td mat-cell *matCellDef="let element"> {{ element.name ? (element.name | Semester) : 'Null'
                                }} </td>
                        </ng-container>
                        <ng-container matColumnDef="count">
                            <th class="fw-bold text-center" mat-header-cell *matHeaderCellDef> Häufigkeit </th>
                            <td class="text-center" mat-cell *matCellDef="let element"> {{element.count}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['name', 'count']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['name', 'count'];"></tr>
                    </table>
                    <mat-paginator hidePageSize [length]="report.frequencyStartSemester.length" [pageSize]="pageSize"
                        (page)="onPageChange($event, 'frequencyStartSemester', report.frequencyStartSemester)"></mat-paginator>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- frequency of completed modules -->
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Häufigkeit Abgeschlossene Module</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <table mat-table [dataSource]="paginatedFrequencyModulesAsCompleted">
                        <ng-container matColumnDef="name">
                            <th class="fw-bold" mat-header-cell *matHeaderCellDef> Modul </th>
                            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                        </ng-container>
                        <ng-container matColumnDef="count">
                            <th class="fw-bold text-center" mat-header-cell *matHeaderCellDef> Häufigkeit </th>
                            <td class="text-center" mat-cell *matCellDef="let element"> {{element.count}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['name', 'count']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['name', 'count'];"></tr>
                    </table>
                    <mat-paginator hidePageSize [length]="report.frequencyModulesAsCompleted.length"
                        [pageSize]="pageSize"
                        (page)="onPageChange($event, 'frequencyModulesAsCompleted', report.frequencyModulesAsCompleted)"></mat-paginator>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- frequency of study duration -->
        <div class="col-12 col-md-6 my-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Häufigkeit Studiendauer</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <canvas #frequencyDurationChart baseChart [data]="frequencyDurationChartData"
                        [options]="barChartOptions" [type]="barChartType">
                    </canvas>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- frequency of completed modules as cluster -->
        <div class="col-12 col-md-6 my-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Häufigkeit Abgeschlossene Module (Cluster)</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <canvas #frequencyCompletedModulesChart baseChart [data]="frequencyCompletedModulesChartData"
                        [options]="barChartOptions" [type]="barChartType">
                    </canvas>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- frequency of study programmes -->
        <div class="col-12 col-md-6 my-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Häufigkeit Studiengang</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <table mat-table [dataSource]="paginatedFrequencyStudyProgrammes">
                        <ng-container matColumnDef="name">
                            <th class="fw-bold" mat-header-cell *matHeaderCellDef> Studiengang </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="count">
                            <th class="fw-bold text-center" mat-header-cell *matHeaderCellDef> Häufigkeit </th>
                            <td class="text-center" mat-cell *matCellDef="let element"> {{element.count}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['name', 'count']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['name', 'count'];"></tr>
                    </table>
                    <mat-paginator hidePageSize [length]="report.frequencyStudyProgrammes.length" [pageSize]="pageSize"
                        (page)="onPageChange($event, 'frequencyStudyProgrammes', report.frequencyStudyProgrammes)"></mat-paginator>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- frequency of planed courses -->
        <div class="col-12 col-md-6 my-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Häufigkeit Lehrveranstaltungen</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <table mat-table [dataSource]="paginatedFrequencyPlannedCourses">
                        <ng-container matColumnDef="name">
                            <th class="fw-bold" mat-header-cell *matHeaderCellDef> Lehrveranstaltungen </th>
                            <td mat-cell *matCellDef="let element"> {{ element.name }} ({{ element.semester | Semester
                                }}) </td>
                        </ng-container>
                        <ng-container matColumnDef="count">
                            <th class="fw-bold text-center" mat-header-cell *matHeaderCellDef> Häufigkeit </th>
                            <td class="text-center" mat-cell *matCellDef="let element"> {{element.count}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['name', 'count']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['name', 'count'];"></tr>
                    </table>
                    <mat-paginator hidePageSize [length]="report.frequencyPlannedCourses.length" [pageSize]="pageSize"
                        (page)="onPageChange($event, 'frequencyPlannedCourses', report.frequencyPlannedCourses)"></mat-paginator>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>