<ng-container *ngIf="lastBaKuLeSurveyConsent$ | async; else noConsent">
    <ng-container *ngIf="lastBaKuLeSurveyConsent$ | async as lastBaKuLeSurveyConsent">
        <mat-card class="p-5 mt-4" *ngIf="!(!lastBaKuLeSurveyConsent.hasConfirmed && !lastBaKuLeSurveyConsent.hasResponded)">
            <div class="withdraw-flexnow-consent">
                <h3 class="info-box-title">Einwilligung zum Evaluations- und Forschungsvorhaben im Kontext von
                    BaKuLe</h3>
                <div class="mb-2">
                    <p>Hier kannst du deine Einwilligung geben oder deine zuvorige Einwilligung widerrufen.</p>
                    <p>Die Datenschutzerklärung zum Evaluations- und Forschungsvorhaben im Kontext von BaKuLe kannst du
                        <a class="link pointer" (click)="openPrivacyStatement()">hier</a> einsehen.
                    </p>
                    <div class="on-card-info-box my-1 p-2 border border-warning rounded">
                        <div *ngIf="lastBaKuLeSurveyConsent.hasConfirmed">
                            Einwilligung zum Evaluations- und Forschungsvorhaben erteilt am {{
                            lastBaKuLeSurveyConsent.timestamp | date: 'medium' }}
                        </div>
                        <div *ngIf="lastBaKuLeSurveyConsent.hasResponded && !lastBaKuLeSurveyConsent.hasConfirmed">
                            Einwilligung zum Evaluations- und Forschungsvorhaben verweigert am {{
                            lastBaKuLeSurveyConsent.timestamp | date: 'medium' }}
                        </div>
                    </div>
                    <button class="btn btn-outline withdrawal-link my-1 p-2"
                        (click)="openConsentDialog('bakule-survey')" (keyup.enter)="openConsentDialog('bakule-survey')">
                        <span *ngIf="lastBaKuLeSurveyConsent.hasConfirmed">Einwilligung widerrufen</span>
                        <span
                            *ngIf="lastBaKuLeSurveyConsent.hasResponded && !lastBaKuLeSurveyConsent.hasConfirmed">Einwilligung
                            geben</span>
                    </button>
                </div>
            </div>
        </mat-card>
    </ng-container>
</ng-container>


<ng-template #noConsent>
    <p>Keine Informationen vorhanden.</p>
</ng-template>