<ng-container *ngIf="lastPrivacyChangeConsent$ | async as lastPrivacyChangeConsent; else noConsent">
    <ng-container *ngIf="lastPrivacyChangeConsent?.hasResponded; else noConsent">
        <mat-card class="p-5" *ngIf="lastPrivacyChangeConsent.hasResponded">
            <div class="withdraw-flexnow-consent">
                <h3 class="info-box-title">Einwilligung zur Aktualisierung der Datenschutzerklärung (01.12.2025)</h3>
                <div class="mb-2">
                    <p>Hier kannst du deine Einwilligung geben oder deine zuvorige Einwilligung widerrufen.</p>
                    <p>Die neue Datenschutzerklärung kannst du jederzeit auf unserer <a class="link" href="/datenschutz"
                            class="redirect link" aria-label="Zur Datenschutzseite">Datenschutzseite</a> einsehen.</p>

                    <div class="on-card-info-box my-2 p-2 border border-warning rounded">
                        <p *ngIf="lastPrivacyChangeConsent.hasConfirmed">
                            Einwilligung zur neuen Datenschutzerklärung erteilt am {{
                            lastPrivacyChangeConsent.timestamp | date: 'medium' }}
                        </p>
                        <p *ngIf="lastPrivacyChangeConsent.hasResponded && !lastPrivacyChangeConsent.hasConfirmed">
                            Einwilligung zur neuen Datenschutzerklärung verweigert am {{
                            lastPrivacyChangeConsent.timestamp | date: 'medium' }}
                        </p>
                        <a class="link withdrawal-link" (click)="openPrivacyConsentDialog()"
                            (keyup.enter)="openPrivacyConsentDialog()">
                            <u *ngIf="lastPrivacyChangeConsent.hasConfirmed">Einwilligung widerrufen</u>
                            <u *ngIf="lastPrivacyChangeConsent.hasResponded && !lastPrivacyChangeConsent.hasConfirmed">Einwilligung
                                geben</u>
                        </a>
                    </div>
                </div>
            </div>
        </mat-card>
    </ng-container>
</ng-container>

<ng-template #noConsent>
    <p>Keine Informationen vorhanden.</p>
</ng-template>