.row {
    margin: 20px 0;
}

.competence-sum {
    position: fixed;
    width: 20%;
    right: 0;
    bottom: 0;
    z-index: 80;
    padding: 20px;
    margin: 1%;
    background-color: aliceblue;
    font-size: 1.2rem;
}

.competence-label {
    font-size: 1.2rem;
    color: black;
}

.button {
    color: inherit;
    border: 1px dotted darkred;
}

.button:hover {
    border: 1px solid darkred;
    color: inherit;
}
