@for (container of containers; track container) {
  <mat-card class="mx-1 my-2">
    <!-- Header contains title and acronym of the module and possibility to open details of module -->
    <mat-card-header>
      <mat-card-subtitle class="icon" (click)="openModule(container.module)">{{ container.module.acronym }} - {{ container.module.name }}</mat-card-subtitle>
    </mat-card-header>
    <!-- Content section -->
    <mat-card-content>
      @for (mCourse of container.module.mCourses; track mCourse) {
        <div class="d-flex flex-row my-1">
          <!-- Status of the moduleCourse <-> Course connection, decides if check or x is displayed -->
          <div>
            @switch (checkStatus(container.connection, mCourse.mcId)) {
              @case (false) {
                <i class="text-danger bi bi-x-lg"></i>
              }
              @case (true) {
                <i class="text-success bi bi-check-lg"></i>
              }
            }
          </div>
          <!-- Main information of connection -->
          <div class="flex-grow-1 ms-2">
            <!-- ModuleCourse Data -->
            <div>
              {{ mCourse.name }} ({{ mCourse.type }})
            </div>
            <!-- Connected courses -->
            <div class="ms-2 my-1">
              @for (connection of container.connection; track connection) {
                @if (connection.mcId == mCourse.mcId) {
                  <div class="d-flex">
                    <div class="vr"></div>
                    <div class="ms-2 icon" (click)="openCourse(connection.course)">
                      {{ connection.course.name }}
                    </div>
                  </div>
                }
              }
            </div>
          </div>
          <div>
            <!-- edit option -->
            <i class="bi bi-pencil-square" (click)="openEditDialog(mCourse, container.module.chair, container.connection)"></i>
          </div>
        </div>
      }
    </mat-card-content>
  </mat-card>
}