/* this file is the central styles entry point */

/* import styles files */
@use './variables';
@use "./bootstrap";
@use './mat-theme/mat-core';
@use './shared/global';
@use './shared/ui-elements';
@use './shared/components/search-panel';
@use './shared/components/dialog';
@use './shared/components/full-calendar';
@use './shared/components/slider-arrows';
@use './mat-theme/mat-override';