<mat-card class="w-100 mb-4 px-2 py-1" tabindex="0" aria-label="Zeile mit Lehrveranstaltungsinformationen">
  <div class="d-flex justify-content-between align-items-center">
    <div class="icon" (click)="openCourse()">{{ course.name }} @if (course.short) {
      <span>- {{ course.short }}</span>
      } ({{ course.type }})
    </div>
    <div>
      @if (!connected) {
        <button class="btn btn-success" [disabled]="disabled"
        (click)="connectModule()">Verknüpfen</button>
      } @else {
        <button class="btn btn-danger" [disabled]="disabled"
          (click)="disconnectModule()">Verknüpfung
        löschen</button>
      }
    </div>
  </div>
</mat-card>