.progress-bar {
    position: relative;
    width: 100%;
    height: 50px;
}

.bg-bar {
    border: 1px solid var(--ub-gray-80);
}

.bg-total-credits {
    background-color: var(--ub-gray-40);
}

.bg-achieved-credits {
    background-color: var(--ub-green-40);
}

.bg-planned-credits {
    background-color: var(--brand-lecture-sky);
}

.bar {
    position: absolute;
    height: 35%;
    border-radius: 20px;
}

.progress-container {
    display: flex;
    flex-direction: column;
}

.progress-legend {
    display: flex;
    justify-content: space-around;
    // margin-top: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
}

.legend-text {
    font-size: 0.8rem;
}

.legend-color-box {
    width: 20px;
    height: 10px;
    margin: auto 5px;
}