<div class="demo-user-welcome">
    <h1>👋 Willkommen im Demo-Account!</h1>
    <p>
        Du bist gerade mit unserem <strong>Demo-Account</strong> unterwegs. Damit kannst du dir Baula ganz in Ruhe
        anschauen – allerdings hast du <strong>nur lesenden Zugriff</strong>.
        Das bedeutet: Einige Funktionen sind <strong>nur eingeschränkt verfügbar</strong> oder <strong>funktionieren
            nicht</strong>. Der Demo-Account dient dazu, dass du auch
        ohne eigenen Account einen Eindruck von der Benutzeroberfläche und möglichen Funktionen machen kannst. Probier
        dich gerne aus und lerne Baula kennen!
    </p>
    <p>
        Für einen <strong>vollen Zugriff</strong> und alle Features kannst du dich jederzeit an uns wenden:
        <a href="mailto:baula.minf@uni-bamberg.de">baula.minf&#64;uni-bamberg.de</a>
    </p>
    <p>
        Viel Spaß beim Entdecken! 🚀
    </p>
    <mat-dialog-actions>
        <button class="btn btn-primary" mat-dialog-close>
            Weiter
        </button>
    </mat-dialog-actions>
</div>