<form [formGroup]="userForm">
  <div class="study-course-box">
    <div class="input-field-wrapper mb-3">
      <label i18n>Studierst du in Voll- oder Teilzeit? </label>
      <mat-radio-group formControlName="fulltime" (change)="updateFulltime()">
        <mat-radio-button [value]="true" i18n>Vollzeit</mat-radio-button>
        <mat-radio-button [value]="false" i18n>Teilzeit</mat-radio-button>
      </mat-radio-group>
    </div>
    @if (teacherEducation && bachelors && masters && others) {
      <div class="input-field-wrapper">
        <mat-form-field class="study-course-field" appearance="outline">
          <mat-label i18n>Studiengang:</mat-label>
          <mat-select #spName placeholder="Dein Studiengang" formControlName="spName"
            (selectionChange)="selectSpName(spName.value)" aria-label="Dropdown zur Studiengangswahl" required i18n-aria-label>
            @if (teacherEducation.length !== 0) {
              <mat-optgroup label="Lehramt">
                @for (name of teacherEducation; track name) {
                  <mat-option [value]="name">{{
                    name
                  }}</mat-option>
                }
              </mat-optgroup>
            }
            @if (bachelors.length !== 0) {
              <mat-optgroup label="Bachelor">
                @for (name of bachelors; track name) {
                  <mat-option [value]="name">{{
                    name
                  }}</mat-option>
                }
              </mat-optgroup>
            }
            @if (masters.length !== 0) {
              <mat-optgroup label="Master">
                @for (name of masters; track name) {
                  <mat-option [value]="name">{{
                    name
                  }}</mat-option>
                }
              </mat-optgroup>
            }
          </mat-select>
          @if (
            userForm.controls.spName.touched && userForm.controls.spName.invalid
            ) {
            <mat-error>@if (userForm.controls.spName.errors?.required) {
              <span i18n>Das ist ein Pflichtfeld.</span>
            }</mat-error>
          }
        </mat-form-field>
      </div>
    }
    <div class="input-field-wrapper">
      <mat-form-field appearance="outline" class="start-semester-field">
        <mat-label i18n>Startsemester:</mat-label>
        <mat-select #startSemester placeholder="Dein Startsemester" i18n-placeholder (selectionChange)="selectStartSemester()"
          formControlName="semester" aria-label="Dropdown zur Startsemesterwahl" i18n-aria-label required>
          @for (sem of startSemesters; track sem) {
            <mat-option [value]="sem.name">
              {{ sem.fullName }}
            </mat-option>
          }
        </mat-select>
        @if (
          userForm.controls.semester.touched &&
          userForm.controls.semester.invalid
          ) {
          <mat-error>@if (userForm.controls.semester.errors?.required) {
            <span i18n>Das ist ein Pflichtfeld.</span>
          }</mat-error>
        }
      </mat-form-field>
      <button class="btn-icon" matTooltip="Das Semester, in dem du dein Studium begonnen hast."
        matTooltipClass="custom-tooltip" appTooltip i18n-matTooltip>
        <i class="bi bi-info-circle"></i>
      </button>
    </div>
  </div>
  @if (spVersions$ | async; as spVersions) {
    <div class="study-programme-box">
      <div class="w-90">
        <hr class="my-1"/>
        <p class="s-text text-gray" i18n>
          Diese Informationen sind auf Basis des ausgewählten Studiengangs automatisch vorausgewählt. Passe die Angaben bei
          Bedarf an deine konkrete Studiensituation an.
        </p>
      </div>
      <div class="input-field-wrapper">
        <mat-form-field class="study-duration-field" appearance="outline">
          <mat-label i18n>Studiendauer:</mat-label>
          <input matInput #duration formControlName="duration" [value]="user.duration" type="number" min="3" max="20"
            placeholder="Deine geplante Studiendauer" i18n-placeholder (change)="updateDuration()" required />
            @if (
              userForm.controls.duration.touched &&
              userForm.controls.duration.invalid
              ) {
              <mat-error>@if (userForm.controls.duration.errors?.required) {
                <span i18n>Das ist ein Pflichtfeld.</span>
                }@if (
                userForm.controls.duration.errors?.min ||
                userForm.controls.duration.errors?.max
                ) {
                <span i18n>Die Semester müssen zwischen 3 und 20 liegen.</span>
              }</mat-error>
            }
          </mat-form-field>
          <button class="btn-icon"
            matTooltip="Hier gibst du deine aktuell geplante Semesteranzahl deines Studiums an. Bei Bachelorstudiengängen beträgt die Anzahl üblicherweise 6 oder 7 Semester und bei Masterstudiengängen 3 oder 4 Semester. Bitte berücksichtige die Höchststudiendauer deines Studiengangs."
            matTooltipClass="custom-tooltip" appTooltip i18n-matTooltip>
            <i class="bi bi-info-circle"></i>
          </button>
        </div>
        <div class="input-field-wrapper">
          <mat-form-field appearance="outline" class="total-ects-field">
            <mat-label i18n>ECTS (gesamt):</mat-label>
            <input matInput #maxEcts [value]="user.maxEcts" formControlName="ects" type="number" min="1" max="300"
              placeholder="Die gesamt ECTS deines Studiengangs" i18n-placeholder (change)="updateEcts()" required />
              @if (userForm.controls.ects.touched && userForm.controls.ects.invalid) {
                <mat-error>@if (userForm.controls.ects.errors?.required) {
                  <span i18n
                  >Das ist ein Pflichtfeld.</span>
                  }@if (
                  userForm.controls.ects.errors?.min ||
                  userForm.controls.ects.errors?.max
                  ) {
                  <span i18n>Die Zahl der ECTS muss zwischen 1 und 300 liegen.</span>
                }</mat-error>
              }
            </mat-form-field>
            <button class="btn-icon"
              matTooltip="Hier gibst du die Gesamtzahl der ECTS ein, die du für deinen Studiengang benötigst."
              matTooltipClass="custom-tooltip" appTooltip i18n-matTooltip>
              <i class="bi bi-info-circle"></i>
            </button>
          </div>
          <div class="input-field-wrapper">
            <mat-form-field class="po-version-field" appearance="outline">
              <mat-label i18n>Prüfungsordnungsversion:</mat-label>
              <mat-select #poVersion placeholder="Deine Prüfungsordnungsversion" formControlName="spVersion" i18n-placeholder
                (selectionChange)="selectStudyprogramme(poVersion.value)" aria-label="Dropdown zur Prüfungsordnungsauswahl"
                required i18n-aria-label>
                @for (po of spVersions; track po.spId + '_' + po.poVersion) {
                  <mat-option [value]="po.desc">
                    {{ po.desc }}
                  </mat-option>
                }
              </mat-select>
              @if (
                userForm.controls.spVersion.touched &&
                userForm.controls.spVersion.invalid
                ) {
                <mat-error>@if (userForm.controls.spVersion.errors?.required) {
                  <span i18n>Das ist ein Pflichtfeld.</span>
                }</mat-error>
              }
            </mat-form-field>
            <button class="btn-icon"
              matTooltip="Die Prüfungsordnungsversion, nach der du studierst, findest du in FlexNow > Studierendendaten unter der Überschrift “Abgelegte Prüfungen” In der Statuszeile"
              matTooltipClass="custom-tooltip" appTooltip i18n-matTooltip>
              <i class="bi bi-info-circle"></i>
            </button>
          </div>
          @if (selectedStudyprogramme) {
            <div class="input-field-wrapper">
              <mat-form-field class="mhb-field" appearance="outline">
                <mat-label i18n>Modulhandbuch:</mat-label>
                <mat-select #moduleHandbook placeholder="Dein Modulhandbuch" formControlName="mhb" i18n-placeholder
                  [compareWith]="compareModuleHandbooks"
                  (selectionChange)="selectModuleHandbook(moduleHandbook.value)" aria-label="Dropdown zur Modulhandbuchwahl"
                  required i18n-aria-label>
                  @for (mhb of selectedStudyprogramme.mhbs; track mhb.mhbId + '_' + mhb.version) {
                    <mat-option [value]="mhb">
                      {{ mhb.name }} ({{ mhb.semester }})
                    </mat-option>
                  }
                </mat-select>
                @if (
                  userForm.controls.mhb.touched && userForm.controls.mhb.invalid
                  ) {
                  <mat-error>@if (userForm.controls.mhb.errors?.required) {
                    <span i18n>Das ist ein Pflichtfeld.</span>
                  }</mat-error>
                }
              </mat-form-field>
              <button class="btn-icon" matTooltip="Gib hier das Modulhandbuch an, nach dem du studierst."
                matTooltipClass="custom-tooltip" appTooltip i18n-matTooltip>
                <i class="bi bi-info-circle"></i>
              </button>
            </div>
          }
        </div>
      }
    </form>