<ng-container role="Dialogfenster" aria-label="Dialogfenster">
  <form [formGroup]="semesterForm">
    <div class="content-wrapper">
      <!-- single select mode -->
      @if (!isMultiMode()) {
        <mat-form-field appearance="outline">
          <mat-label>Semester</mat-label>
          <mat-select #semester [formControl]="selectedSemester" aria-label="Dropdown zur Semesterwahl"
            required>
            @for (semester of semesters$ | async; track semester) {
              <mat-option [value]="semester.name"
                [ngClass]="{'active-semester': semester.name === activeSemester}">
                {{ semester.name | Semester }}
              </mat-option>
            }
          </mat-select>
          @if (selectedSemester.invalid && selectedSemester.touched) {
            <mat-error>
              Das ist ein Pflichtfeld.
            </mat-error>
          }
        </mat-form-field>
      }
      <!-- multi select mode -->
      @if (isMultiMode()) {
        <div class="semester-selection">
          <!-- select all option -->
          <div class="select-all-item mb-2 p-2">
            <mat-checkbox [checked]="isAllSelected()" [indeterminate]="isIndeterminate()"
              (change)="toggleSelectAll()" (click)="$event.stopPropagation()">
              Alle auswählen
            </mat-checkbox>
          </div>
          <mat-divider></mat-divider>
          <!-- individual semesters -->
          <mat-selection-list [formControl]="selectedSemesters" class="semester-list">
            @for (semester of semesters$ | async; track semester) {
              <mat-list-option [value]="semester.name"
                [class.active-semester]="semester.name === activeSemester">
                {{ semester.shortName }}
              </mat-list-option>
            }
          </mat-selection-list>
        </div>
      }
    </div>

    <mat-dialog-actions>
      <button mat-raised-button class="btn btn-outline" mat-dialog-close (click)="close('noData')"
        (keyup)="close('noData')">
        Abbrechen
      </button>
      <button mat-raised-button class="btn btn-primary" [mat-dialog-close]="getSemester()"
        [disabled]="!isValidSelection()" (click)="close('data')" (keyup)="close('data')">
        Übernehmen
      </button>
    </mat-dialog-actions>
  </form>
</ng-container>