<ng-container role="Dialogfenster" aria-label="Dialogfenster">
    <form [formGroup]="semesterForm">
        <div class="content-wrapper">
            <!-- single select mode -->
            <ng-container *ngIf="!isMultiMode()">
                <mat-form-field appearance="outline">
                    <mat-label>Semester</mat-label>
                    <mat-select #semester [formControl]="selectedSemester" aria-label="Dropdown zur Semesterwahl"
                        required>
                        <mat-option *ngFor="let semester of semesters$ | async" [value]="semester.name"
                            [ngClass]="{'active-semester': semester.name === activeSemester}">
                            {{ semester.name | Semester }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="selectedSemester.invalid && selectedSemester.touched">
                        Das ist ein Pflichtfeld.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <!-- multi select mode -->
            <ng-container *ngIf="isMultiMode()">
                <div class="semester-selection">

                    <!-- select all option -->
                    <div class="select-all-item mb-2 p-2">
                        <mat-checkbox [checked]="isAllSelected()" [indeterminate]="isIndeterminate()"
                            (change)="toggleSelectAll()" (click)="$event.stopPropagation()">
                            Alle auswählen
                        </mat-checkbox>
                    </div>

                    <mat-divider></mat-divider>

                    <!-- individual semesters -->
                    <mat-selection-list [formControl]="selectedSemesters" class="semester-list">
                        <mat-list-option *ngFor="let semester of semesters$ | async" [value]="semester.name"
                            [class.active-semester]="semester.name === activeSemester">
                            {{ semester.shortName }}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </ng-container>
        </div>

        <mat-dialog-actions>
            <button mat-raised-button class="btn btn-outline" mat-dialog-close (click)="close('noData')"
                (keyup)="close('noData')">
                Abbrechen
            </button>
            <button mat-raised-button class="btn btn-primary" [mat-dialog-close]="getSemester()"
                [disabled]="!isValidSelection()" (click)="close('data')" (keyup)="close('data')">
                Übernehmen
            </button>
        </mat-dialog-actions>
    </form>
</ng-container>