<ng-container role="Dialogfenster" aria-label="Dialogfenster">
    <app-change-module-group [mgId]="mgId" [structuredModuleGroups]="structuredModuleGroups$ | async"
        (selectModuleGroup)="selectModuleGroup($event)" [acronym]="acronym"></app-change-module-group>
    <mat-dialog-actions>
        <button mat-raised-button class="btn btn-outline" mat-dialog-close (click)="close('noData')"
            (keyup)="close('noData')">
            Abbrechen
        </button>
        <button mat-raised-button class="btn btn-primary" [disabled]="!selectedModuleGroup"
            [mat-dialog-close]="selectedModuleGroup" (click)="close('data')" (keyup)="close('data')">
            Speichern
        </button>
    </mat-dialog-actions>
</ng-container>