<mat-card class="py-3 px-2 my-0 mb-2 module-item" [ngClass]="{'cursor-disabled user-module-card': module.notExistingModule, 'old-module': module.isOld || module.hasIssue, 'card-disabled': module.equivalentModule}" 
(mouseenter)="setHoverModule()" (mouseleave)="unsetHoverModule()">
  <div class="d-flex align-items-center" tabindex="0" aria-label="Zeile mit Modulinformationen"
    (click)="selectModule(module)" (keyup.enter)="selectModule(module)"
    [ngClass]="module.type === 'Pflichtmodul' ? 'compulsory' : ' '">
    <div *ngIf="studyPath$" class="status-box-not-clickable flex-shrink-0 me-2">
      <app-module-status [studyPath$]="studyPath$" [module]="module" [modType]="modType" [mgId]="module.mgId"
        [openedWithSemesterSet]="openedWithSemesterSet" [openedFromModuleOffer]="true"></app-module-status>
    </div>
    <div class="d-flex align-items-start w-100">
      <div class="flex-grow-1 min-width-0">
        <!-- Title -->
        <div class="px-2 mb-1">
          <span class="fw-bold text-gray">{{ module.acronym }}: </span>
          <span>{{ module.name }}</span>
        </div>
        <!-- ModuleGroup -->
        <div class="d-flex align-items-center">
          <button class="chip me-1" [class.cursor-disabled]="module.notExistingModule">{{ path }}</button>
          <span matTooltip="Das ist ein Pflichtmodul" *ngIf="module.type === 'Pflichtmodul'" class="compulsory-icon">
            <i>P</i>
          </span>
          <!-- Exlamation mark if module is old or not existing -->
          @if(module.hasIssue) {
          <i class="bi bi-exclamation-square text-warning status-box-not-clickable" matTooltip="Dieses Modul ist nicht Teil deines aktuell ausgewählten Modulhandbuchs oder ist für die angezeigte Modulgruppe nicht dort zugeordnet."></i>
          } @else if(module.notExistingModule) {
          <i class="bi bi-exclamation-square text-danger status-box-not-clickable" matTooltip="Dieses Modul exisitiert nicht in unserer Moduldatenbank und wurde von dir selbst erstellt. Es ist nicht Teil des offiziellen Modulhandbuchs."></i>
          } @else if(module.equivalentModule) {
          <i class="bi bi-exclamation-square status-box-not-clickable" [matTooltip]="`Dieses Modul ist äquivalent zu ${module.equivalentModule} und daher ausgegraut.`"></i>
          }
        </div>
      </div>

      <div class="flex-shrink-0 d-flex flex-column align-items-end ms-2">
        <!-- Term -->
        <div class="s-text text-muted" matTooltip="Angebotssemester" matTooltipClass="custom-tooltip">
          {{ module.term }}
        </div>
        <!-- ECTS -->
        <div>
          <button class="chip ects-chip" [class.cursor-disabled]="module.notExistingModule">{{ module.ects }} ECTS</button>
        </div>
      </div>
    </div>
    <!-- TODO: Icon to quick plan module to study plan -->
    <!-- <div class="icon" (click)="openPlanningDialog()">
      <i class="bi bi-arrow-right m-lg-2"></i>
    </div> -->
  </div>
</mat-card>