<!-- Terms, Teachers and Organization -->
<div class="row">
  <!-- Terms -->
  <div class="col-12 mb-2" [class.col-md-6]="context == 'detail-dialog'">
    @if (course.terms && course.terms.length !== 0) {
      <div class="row">
        <div class="col-12 mx-0 mb-2 fw-bold" i18n>
          <i class="bi bi-clock"></i> Zeitangaben:
        </div>
        @for (term of course.terms; track term) {
          <div class="row my-1">
            @if (term.startdate || term.enddate) {
              <div class="col">
                @if (term.startdate) {
                  <span>{{
                    term.startdate | date : "EEEE, dd.MM.yyyy"
                  }}</span>
                }
                @if (
                  term.startdate &&
                  term.enddate &&
                  term.startdate !== term.enddate
                  ) {
                  <span i18n="Bis DATUM">
                  bis {{ term.enddate | date : "EEEE, dd.MM.yyyy" }}</span>
                }
              </div>
            }
            @if (term.repeat && term.repeat !== '') {
              <div class="col">
                {{ term.repeat }}
              </div>
            }
            @if (term.starttime !== '' && term.endtime !== '') {
              <div class="col">
                {{ term.starttime }}-{{ term.endtime }} Uhr
              </div>
            }
            @if (term.room) {
              <div class="col">
                {{ term.room.short }}
              </div>
            }
          </div>
        }
      </div>
    } @else {
      <div class="row">
        <div class="alert alert-info" role="alert" i18n>
          Zur Lehrveranstaltung liegen keine Zeitangaben vor!
        </div>
      </div>
    }
  </div>
  <!-- For space -->
  <div [class.col-md-1]="context == 'detail-dialog'"></div>

  <!-- Teachers and Organization -->
  <div class="col-12 container-fluid" [class.col-md-5]="context == 'detail-dialog'">
    <div class="d-flex flex-wrap">
      @if (course.ects) {
        <div class="me-4">
          <span class="fw-bold me-2" i18n>ECTS:</span>
          <span>{{ course.ects }}</span>
        </div>
      }
      @if (course.sws) {
        <div>
          <span class="fw-bold me-2" i18n>SWS:</span>
          <span>{{ course.sws }}</span>
        </div>
      }
    </div>
    <!-- Language, Format, Keywords and addInfo -->
    <!-- Format -->
    @if (course.format) {
      <div class="d-flex flex-wrap my-3">
        <div class="fw-bold me-2" i18n="Kurs Format">
          <i class="bi bi-person-video3 me-2"></i> Format:
        </div>
        <div>
          {{ course.format | courseFormat}}
        </div>
      </div>
    }
    <!-- Language -->
    @if (course.lang) {
      <div class="d-flex flex-wrap my-3">
        <div class="fw-bold me-2" i18n="Kurs Sprache">
          <i class="bi bi-translate me-2"></i> Sprache:
        </div>
        <div>
          {{ course.lang | courseLang}}
        </div>
      </div>
    }
    <!-- Expected Attendance -->
    @if (course.expAttendance ) {
      <div class="d-flex flex-wrap my-3">
        <div class="fw-bold me-2" i18n>
          <i class="bi bi-people me-1"></i> Erwartete Teilnehmerzahl:
        </div>
        <div>
          {{ course.expAttendance }}
        </div>
      </div>
    }
    @if (course.dozs) {
      <!-- Teachers -->
      <div class="fw-bold mt-3 mb-1 my-md-0" i18n>
        <i class="bi bi-person me-1"></i> Dozierende:
      </div>
      @for (doz of course.dozs; track doz) {
        <div class="d-flex flex-wrap mb-2">
          <div class="d-inline-flex align-items-center me-2">
            {{ doz.title }} {{ doz.firstname }} {{ doz.lastname }}
          </div>
          @if (doz.email) {
            <div class="d-inline">
              <button class="btn btn-outline" (click)="writeEMail(doz.email)"
                (keyup.enter)="writeEMail(doz.email)" aria-label="E-Mail an Lehrende" i18n-aria-label>
                <i class="bi bi-envelope"></i>
              </button>
            </div>
          }
        </div>
      }
    }
    <!-- Organization -->
    @if (course.orgname || course.chair) {
      <div class="my-3">
        <div class="fw-bold my-1">
          <i class="bi bi-house me-2"></i>
          <span i18n>Lehrstuhl:</span>
        </div>
        <div>{{ course.chair }}</div>
      </div>
    }
    @if (course.keywords || course.addInfo) {
      <div class="my-3">
        <div class="fw-bold mb-1">
          <i class="bi bi-tags me-1"></i> Schlagworte:
        </div>
        @if (course.keywords) {
          <div class="d-flex flex-wrap">
            <div>
              {{ course.keywords }}
            </div>
          </div>
        }
        @if (course.addInfo) {
          <div class="d-flex flex-wrap">
            <mat-chip-set aria-label="Zusätzliche Angaben zu Inhalten" i18n-aria-label>
              @for (item of course.addInfo.split(';'); track item) {
                <mat-chip>{{ item }}</mat-chip>
              }
            </mat-chip-set>
          </div>
        }
      </div>
    }
  </div>
  <hr />
  <!-- additional course information start -->
  @if (course.organizational && course.organizational !== '') {
    <div class="row my-3">
      <div class="col-12 fw-bold" [class.col-xl-3]="context == 'detail-dialog'">Organisatorisches</div>
      <div [ngClass]="course.organizational.length > 300 ? 'truncate' : ''" class="col-12"
        [class.col-xl-9]="context == 'detail-dialog'">
        <span id="{{ course.id }}-{{context}}-organisation"
          [ngClass]="course.organizational.length > 300 ? 'truncate-text' : ''"
        [innerHtml]="course.organizational | markdown"></span>
        @if (course.organizational.length > 300) {
          <span role="button" class="px-2">@if (!expandedCourseOrganisation) {
            <i
              class="bi bi-chevron-down show-more-icon"
              (click)="toggleCourseOrganisation(course, 'expand')"
            (keyup.enter)="toggleCourseOrganisation(course, 'expand')"></i>
            }@if (expandedCourseOrganisation) {
            <i
              class="bi bi-chevron-up" (click)="toggleCourseOrganisation(course, 'collapse')"
            (keyup.enter)="toggleCourseOrganisation(course, 'collapse')"></i>
          }</span>
        }
      </div>
    </div>
  }
  @if (course.desc) {
    <div class="row my-2">
      <div class="col-12 fw-bold" [class.col-xl-3]="context == 'detail-dialog'">Beschreibung</div>
      <div class="col-12" [ngClass]="course.desc.length > 300 ? 'truncate' : ''"
        [class.col-xl-9]="context == 'detail-dialog'">
        <!-- {{ course.desc }} -->
        <span id="{{ course.id }}-{{context}}-description" [ngClass]="course.desc.length > 300 ? 'truncate-text' : ''"
        [innerHtml]="course.desc | markdown"></span>
        @if (course.desc.length > 300) {
          <span role="button" class="px-2">@if (!expandedCourseDescription) {
            <i
              class="bi bi-chevron-down show-more-icon" (click)="toggleCourseDescription(course, 'expand')"
            (keyup.enter)="toggleCourseDescription(course, 'expand')"></i>
            }@if (expandedCourseDescription) {
            <i
              class="bi bi-chevron-up" (click)="toggleCourseDescription(course, 'collapse')"
            (keyup.enter)="toggleCourseDescription(course, 'collapse')"></i>
          }</span>
        }
      </div>
    </div>
  }

  @if (course.literature) {
    <div class="row my-2">
      <div class="col-12 fw-bold" [class.col-xl-3]="context == 'detail-dialog'" i18n>Literatur</div>
      <div class="col-12" [class.col-xl-9]="context == 'detail-dialog'" [innerHtml]="course.literature | markdown">
      </div>
    </div>
  }

  @if (modules && modules.length !== 0 && context !== 'sidenav') {
    <div class="row my-3">
      <div class="col-12 fw-bold" [class.col-xl-5]="context == 'detail-dialog'" i18n>Lehrveranstaltung für dich belegbar in
      den folgenden Modulen:</div>
      <div class="col-12 d-flex align-items-center" [class.col-xl-7]="context == 'detail-dialog'">
        <ul>
          @for (mod of modules; track mod) {
            <li>{{ mod.identifier.acronym }} @if (mod.ects) {
              <span i18n>({{ mod.ects }}
              ECTS)</span>
            }</li>
          }
        </ul>
      </div>
    </div>
  }
  <!--- additional course information end -->

  <!-- Templates for Visualization of Terms -->
