<span (click)="openChangeStatusDialog($event, modType)" matTooltip={{displayStatusOnHover}}
  matTooltipClass="custom-tooltip" i18n-matTooltip>
  @switch (this.status) {
    <!-- for the case if status options property status is passed -->
    @case ('passed') {
      <button class="btn-icon">
        <i class="bi bi-check-lg text-success"></i>
        @if (showStatusText) {
          <span class="ms-2" i18n>Bestanden</span>
        }
      </button>
    }
    @case ('failed') {
      <button class="btn-icon">
        <i class="bi bi-x-lg text-danger"></i>
        @if (showStatusText) {
          <span class="ms-2" i18n>Nicht bestanden</span>
        }
      </button>
    }
    @case ('taken') {
      <button class="btn-icon">
        <i class="bi bi-dash-lg"></i>
        @if (showStatusText) {
          <span class="ms-2" i18n>Belegt</span>
        }
      </button>
    }
    @default {
      <button class="btn-icon">
        <i class="bi bi-question-circle"></i>
        @if (showStatusText) {
          <span class="ms-2" i18n>Nicht belegt</span>
        }
      </button>
    }
  }
</span>