<span [ngSwitch]="this.status" (click)="openChangeStatusDialog($event, modType)" matTooltip={{displayStatusOnHover}}
  matTooltipClass="custom-tooltip">
  <!-- for the case if status options property status is passed -->
  <button class="btn-icon" *ngSwitchCase="'passed'">
    <i class="bi bi-check-lg text-success"></i>
  </button>
  <button class="btn-icon" *ngSwitchCase="'failed'">
    <i class="bi bi-x-lg text-danger"></i>
  </button>
  <button class="btn-icon" *ngSwitchCase="'taken'">
    <i class="bi bi-dash-lg"></i>
  </button>
  <button class="btn-icon" *ngSwitchDefault>
    <i class="bi bi-question-circle"></i>
  </button>
</span>