<mat-card class="p-5 mb-2">
  <!-- <h3 class="info-box-title">Importiere hier deinen Studienverlauf aus FlexNow</h3>
  <div class="mb-2">
    Hier kannst du deine aktuellen und vergangenen Belegungen aus FlexNow in Baula importieren, sodass dein
    Studienfortschritt sichtbar ist.
  </div> -->
  <!-- TODO remove this as soon as FlexNow api works here -->
  <div class="warning-box mb-2">
    Derzeit ist aufgrund von Umbauten leider kein Abruf deines Studienverlaufs aus FlexNow möglich. Sobald die
    Schnittstelle zu FlexNow mit dem nächsten Release eingerichtet ist, kannst du hier deinen Studienverlauf automatisch
    abrufen lassen.
  </div>

  <div class="d-flex justify-content-start">
    <div class="d-flex gap-2 align-items-stretch">
      <!-- removed (click)="startHTMLUpload()"
        (keyup.enter)="startHTMLUpload()" -->
      <!-- TODO uncomment this and make it work for FlexNow API -->
      <!-- <button id="study_prog_upload_button"
        class="upload btn btn-primary plausible-event-name=Studyprogression-upload+Button"
        (click)="importCompleteFlexNowData()" (keyup.enter)="importCompleteFlexNowData()"
        aria-label="Studienverlauf aus FlexNow importieren">
        Studienverlauf aus FlexNow importieren
      </button> -->
      <button class="btn btn-danger" aria-label="Studienverlauf löschen" (click)="openDeleteStudyPathDialog()"
        (keyup.enter)="openDeleteStudyPathDialog()">
        Studienverlauf löschen
      </button>
    </div>
  </div>

  <ng-container *ngIf="flexnowApiConsent$ | async as flexnowApiConsent">
    <div *ngIf="flexnowApiConsent.hasConfirmed">
      <div class="withdraw-flexnow-consent on-card-info-box">
        <p>Einwilligung zum Abruf deines Studienverlaufs über die FlexNow-Schnittstelle akzeptiert am {{
          flexnowApiConsent.timestamp | date: 'medium' }}</p>
        Die Einwilligung kannst du jederzeit auf unserer <a class="link" href="/datenschutz" class="redirect link"
          aria-label="Zur Datenschutzseite">Datenschutzseite</a> einsehen.
      </div>
      <button class="btn btn-outline withdrawal-link my-1 p-2" (click)="openConsentWithdrawalDialog()"
        (keyup.enter)="openConsentWithdrawalDialog()">
        <span>Einwilligung widerrufen</span>
      </button>
    </div>
  </ng-container>
</mat-card>