<div class="container mx-auto my-3 my-md-5">
    <div class="row my-4 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <h2>Datenschutzerklärungen</h2>

            <div class="mb-4">
                <mat-expansion-panel class="py-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="fw-bold">
                            Datenschutzerklärung ab 01.12.2025
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                    <p>Der Betrieb von Baula unterliegt dem Information Security Management System (ISMS) der
                        Universität
                        Bamberg, Details unter <a class="link"
                            href="https://www.uni-bamberg.de/its/verfahrensweisen/isms"
                            target="_blank">Informationssicherheit an der
                            Otto-Friedrich-Universität Bamberg</a>. Der Systembetrieb und die
                        Datenhaltung erfolgt ausschließlich lokal auf Systemen der Universität Bamberg. Der Betrieb
                        erfolgt nach
                        Maßgabe der <a class="link" href="https://www.uni-bamberg.de/minf"
                            target="_blank">Organisationseinheit
                            Lehrstuhl
                            Medieninformatik</a>. Es gilt grundsätzlich für den Betrieb
                        von Baula die
                        <a class="link"
                            href="https://www.uni-bamberg.de/its/verfahrensweisen/datenschutz/datenschutzerklaerungen/allgemeine-datenschutzerklaerung/"
                            target="_blank">Allgemeine Datenschutzerklärung für IT-Systeme an der
                            Otto-Friedrich-Universität
                            Bamberg</a>.
                    </p>

                    <p>Die nachfolgende Ergänzung zur Datenschutzerklärung gilt speziell für <a class="link"
                            href="https://baula.minf.uni-bamberg.de" target="_blank">Baula</a>, ein System entwickelt im
                        Rahmen
                        der Projekte <a class="link" href="https://www.uni-bamberg.de/dikule/"
                            target="_blank">DiKuLe</a>, <a class="link"
                            href="https://www.uni-bamberg.de/wiai/forschung/forschungseinrichtungen-verbundprojekte/voll-kiba/"
                            target="_blank">VoLL-KI</a> und <a class="link" href="https://www.uni-bamberg.de/bakule/"
                            target="_blank">BaKuLe</a>.

                    <h3>Nutzungsbedingungen</h3>

                    <p>Die Nutzung von Baula steht ausschließlich Personen mit einem Nutzerkonto der Universität Bamberg
                        (ba-Nummer und zugehöriges Kennwort) oder Personen mit einem bereitgestellten Demoaccount offen.
                        Jegliche Verwendung von Baula zu anderen Zwecken als zur Unterstützung der Studienplanung,
                        -organisation und -beratung ist untersagt.</p>

                    <h3>Kategorien personenbezogener Daten</h3>

                    <p>Direkt personenbezogene Daten werden in Baula nicht gespeichert. Für die Nutzung der Anwendung
                        werden beim Login primär eine eindeutige pseudonyme Nutzer-ID sowie die Rollen (z. B.
                        „Studierende“ oder „Mitarbeitende“) übergeben. Um den Abruf des individuellen Studienverlaufs
                        über die FlexNow-Schnittstelle zu ermöglichen, wird zusätzlich die universitäre Nutzerkennung
                        (ba-Nummer) beim Login übergeben, verarbeitet, aber nicht dauerhaft gespeichert.</p>

                    <h4>FlexNow Auszug (Abruf des individuellen Studienverlaufs)</h4>
                    <b>Betroffene:</b> Nutzerinnen und Nutzer
                    <p>Die Verarbeitung eines individuellen Studienverlaufs erfolgt nur mit Einverständnis der
                        Studierenden.</p>

                    <!-- FlexNow upload information -->
                    <div class="flex-now-data-information mb-4">
                        <mat-expansion-panel class="py-2">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Datenschutzhinweise für die optionale Verwendung der FlexNow-Schnittstelle
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-upload-data-privacy [version]="'bakule'"></app-upload-data-privacy>
                        </mat-expansion-panel>
                    </div>

                    <h3>Quellen der personenbezogenen Daten</h3>

                    <b>FlexNow</b>
                    <p>Bei Nutzung des optionalen Abrufs von individuellen Studienverlaufsdaten wird über die
                        universitäre Kennung (ba-Nummer) der individuelle Studienverlauf über eine FlexNow-Schnittstelle
                        abgerufen.</p>

                    <h3>Dauer der Speicherung</h3>

                    <p>Die universitäre Kennung (ba-Nummer) wird nicht dauerhaft in ihrer direkten, personenbezogenen
                        Form innerhalb von Baula gespeichert. Stattdessen erfolgt die Verarbeitung ausschließlich zur
                        Authentifizierung. Ein Zugriff auf die Kennung erfolgt ausschließlich im Rahmen des Abrufs des
                        individuellen Studienverlaufs über die FlexNow-Schnittstelle. Eine sessionübergreifende
                        Speicherung der Kennung findet nicht statt.</p>

                    <h4>Nutzerdaten</h4>

                    <p>Die Nutzerdaten werden mit Projektende 2029 – bzw. im Falle einer Verlängerung – 2031 aus der
                        Anwendung entfernt, es sei denn, es erfolgt bereits vorher ein entsprechender Widerspruch.</p>

                    <h4>Individueller Studienverlauf</h4>

                    <p>Die Löschung des individuellen Studienverlaufs ist zudem jederzeit in der Anwendung über eine
                        entsprechende Funktionalität möglich.</p>

                    <h3>Zwecke und Rechtsgrundlage der Verarbeitung</h3>

                    <h4>Zweck</h4>

                    <p>Im Rahmen des Forschungsprojekts BaKuLe werden Unterstützungsmaßnahmen zum zielorientierten und
                        sinnstiftenden Studieren untersucht. Hierbei wird auf einer in den Projekten DiKuLe und VoLL-KI
                        entwickelten Webanwendung (digitaler Studienassistent) aufgebaut, die die kurz- sowie
                        langfristige Studienplanung unterstützt und in diesem Rahmen möglichst individuelle
                        Unterstützung auf Basis des bisherigen Studienverlaufs bieten soll. Somit sollen beispielsweise
                        studienbegleitend Vorschläge für den weiteren individuellen Bildungsweg (z. B. Kompetenzerwerb)
                        entwickelt werden. Zu Forschungszwecken im Kontext dieses Studienassistenten (z. B. für
                        Publikationen) können hochaggregierte Nutzungsdaten verwendet werden, die nicht mehr auf
                        einzelne Personen zurückzuführen sind.</p>

                    <h4>Rechtsgrundlage</h4>

                    <p>Art. 6 Abs. 1 Unterabs. 1 Buchst. a, e DSGVO, Art. 7 DSGVO Art. 4 Abs. 1 BayDSG i. V. m. Art. 2
                        Abs. 1 Satz 2 BayHIG: Forschung als Aufgabe der Universitäten</p>

                    <h4>Weiteres</h4>

                    <p>Cookies, Protokolldateien und die Webanalyse-Tools Plausible und Sentry werden zur Erstellung von
                        Nutzungsstatistiken, zur Prüfung oder Wartung des Webdienstes und zur Gewährleistung der Netz-
                        und Informationssicherheit gemäß Art. 6 Abs. 1 BayDSG, § 13 Abs. 7 TMG, Art. 11 Abs. 1 BayEGovG
                        verwendet. Diese Nutzungsdaten werden nicht mit den o. g. Datenkategorien zusammengeführt.</p>

                    <h3>Übermittlung an Dritte</h3>

                    <p>Eine klassische Übermittlung personenbezogener Daten an Dritte erfolgt in Baula nicht. Eine
                        Übermittlung der universitären Kennung an FlexNow ist nur notwendig, falls der individuelle
                        Studienverlauf nach Einwilligung über die entsprechende Schnittstelle abgerufen werden soll.
                        Nutzerinnen und Nutzern können zudem aggregierte Auswertungen und Studienempfehlungen auf Basis
                        von anonymisierten und aggregierten Studienverlaufsdaten bereitgestellt werden. Diese Daten
                        werden jedoch in einer Form präsentiert, die keine Rückschlüsse auf individuelle Personen
                        zulässt. Die Nutzung dieser aggregierten Auswertungen dient ausschließlich dem Zweck der
                        Studienplanung und -beratung.</p>

                    <h3>Selbstauskunft</h3>

                    <p>Nutzende haben im Hinblick auf ihre individuellen Studiendaten die Möglichkeit, selbst zu
                        überprüfen,
                        welche Daten in Baula verarbeitet werden, indem sie die Funktionalität des individuellen
                        Datenexports
                        nutzen.
                    </p>

                    <h3>Betroffenenrechte</h3>

                    <p>Für den Dienst www.uni-bamberg.de besteht kein spezifischer Regelungsbedarf. Es gelten die
                        Angaben
                        der
                        <a class="link"
                            href="https://www.uni-bamberg.de/its/verfahrensweisen/datenschutz/datenschutzerklaerungen/allgemeine-datenschutzerklaerung/"
                            target="_blank">Allgemeinen Datenschutzerklärung der
                            Universität</a>.
                    </p>
                </mat-expansion-panel>
            </div>

            <div class="mb-4">
                <mat-expansion-panel class="py-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="fw-bold">
                            Datenschutzerklärung bis 30.11.2025
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                    <p>Der Betrieb von Baula unterliegt dem Information Security Management System (ISMS) der
                        Universität
                        Bamberg, Details unter <a class="link"
                            href="https://www.uni-bamberg.de/its/verfahrensweisen/isms"
                            target="_blank">Informationssicherheit an der
                            Otto-Friedrich-Universität Bamberg</a>. Der Systembetrieb und die
                        Datenhaltung erfolgt ausschließlich lokal auf Systemen der Universität Bamberg. Der Betrieb
                        erfolgt nach
                        Maßgabe der <a class="link" href="https://www.uni-bamberg.de/minf"
                            target="_blank">Organisationseinheit
                            Lehrstuhl
                            Medieninformatik</a>. Es gilt grundsätzlich für den Betrieb
                        von Baula die
                        <a class="link"
                            href="https://www.uni-bamberg.de/its/verfahrensweisen/datenschutz/datenschutzerklaerungen/allgemeine-datenschutzerklaerung/"
                            target="_blank">Allgemeine Datenschutzerklärung für IT-Systeme an der
                            Otto-Friedrich-Universität
                            Bamberg</a>.
                    </p>

                    <p>Die nachfolgende Ergänzung zur Datenschutzerklärung gilt speziell für <a class="link"
                            href="https://baula.minf.uni-bamberg.de" target="_blank">Baula</a>, ein System entwickelt im
                        Rahmen
                        der Projekte <a class="link" href="https://www.uni-bamberg.de/dikule/"
                            target="_blank">DiKuLe</a> und <a class="link"
                            href="https://www.uni-bamberg.de/wiai/forschung/forschungseinrichtungen-verbundprojekte/voll-kiba/"
                            target="_blank">VoLL-KI</a>
                        .

                    <h3>Nutzungsbedingungen</h3>

                    <p>Die Nutzung von Baula steht ausschließlich Personen mit einem Nutzerkonto der Universität Bamberg
                        (ba-Nummer und zugehöriges Kennwort) offen. Jegliche Verwendung von Baula zu anderen Zwecken als
                        zur
                        Unterstützung der Studienplanung, -organisation und -beratung ist untersagt.</p>

                    <h3>Kategorien personenbezogener Daten</h3>

                    <p>Direkt personenbezogene Daten wie Adressdaten sowie Nutzername werden in Baula nicht gespeichert
                        und nur
                        im
                        Rahmen eines optionalen FlexNow Uploads verarbeitet. Der Login erfolgt mit der universitären
                        Nutzerkennung.
                        Dabei werden der Anwendung lediglich eine eindeutige pseudonyme Nutzer-ID sowie die Rollen
                        "Studierende"
                        oder
                        "Mitarbeitende" übergeben.</p>

                    <h4>FlexNow Auszug (Individueller Studienverlauf)</h4>
                    <b>Betroffene:</b> Nutzende
                    <p>Die Verarbeitung eines individuellen Studienverlaufs erfolgt nur mit Einverständniserklärung der
                        Studierenden.</p>

                    <!-- FlexNow upload information -->
                    <div class="flex-now-data-information mb-4">
                        <mat-expansion-panel class="py-2">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Datenschutzhinweise für optionalen Upload eines FlexNow-Auszugs
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <!-- content -->
                            <app-upload-data-privacy [version]="'vollki'"></app-upload-data-privacy>
                        </mat-expansion-panel>
                    </div>

                    <h3>Quellen der personenbezogenen Daten</h3>

                    <b>FlexNow</b>
                    <p>Extraktion des individuellen Studienverlaufs durch Studierende, die die optionale
                        Funktionalität der automatischen Eingabe des eigenen Studienfortschritts nutzen möchten.</p>

                    <h3>Dauer der Speicherung</h3>

                    <h4>Nutzendendaten</h4>

                    <p>Die Nutzendendaten werden mit Projektende (Ende 2025) aus der Anwendung entfernt, es sei denn, es
                        erfolgt
                        bereits vorher ein entsprechender Widerspruch innerhalb der Anwendung.</p>

                    <h4>Individueller Studienverlauf</h4>

                    <p>Die Löschung des individuellen Studienverlaufs ist zudem jederzeit in der Anwendung über eine
                        entsprechende Funktionalität möglich.</p>

                    <h3>Zwecke und Rechtsgrundlage der Verarbeitung</h3>

                    <h4>Zweck</h4>

                    <p>Im Rahmen der Forschungsprojekte DiKuLe und VoLL-KI werden die Möglichkeiten zur Unterstützung
                        der
                        individuellen Studienplanung mithilfe des digitalen Studienassistenten Baula erforscht. Um
                        möglichst
                        individuelle
                        Studien- und Modulbelegungsempfehlungen zu erhalten, haben Studierende die Möglichkeit, ihren
                        individuellen Studienverlauf in die Anwendung hochladen.</p>

                    <h4>Rechtsgrundlage</h4>

                    <p>Art. 6 Abs. 1 Unterabs. 1 Buchst. e DSGVO, Art. 4 Abs. 1 BayDSG i. V. m. Art. 2 Abs. 1 Satz 2
                        BayHIG:
                        Forschung als Aufgabe der Universitäten</p>

                    <p>Art. 6 Abs. 2 Nr. 3 Buchst. c BayDSG: Die Verwendung von Prüfungsdaten zu Zwecken der Forschung
                        ist
                        zulässig, da die beabsichtigte Forschung anderweitig nicht durchgeführt werden kann und das
                        Forschungsinteresse auf Verbesserungen der Studienberatung (universitäre Aufgabe gem. Art. 82
                        BayHIG)
                        abzielt.</p>

                    <h4>Weiteres</h4>

                    <p>Cookies, Protokolldateien und die Webanalyse-Tools Plausible und Sentry werden zur
                        Erstellung
                        von Nutzungsstatistiken, zur Prüfung oder Wartung des Webdienstes und zur Gewährleistung der
                        Netz-
                        und
                        Informationssicherheit gemäß Art. 6 Abs. 1 BayDSG, § 13 Abs. 7 TMG, Art. 11 Abs. 1 BayEGovG
                        verwendet.
                        Diese
                        Nutzungsdaten werden nicht mit den o. g. Datenkategorien zusammengeführt.</p>

                    <h3>Übermittlung an Dritte</h3>

                    <p>Eine klassische Übermittlung an Dritte erfolgt im Rahmen von Baula nicht. Nutzenden können
                        aggregierte
                        Auswertungen und Studienempfehlungen auf Basis von anonymisierten und aggregierten
                        Studienverlaufsdaten
                        bereitgestellt werden. Diese Daten werden jedoch in einer Form präsentiert, die keine
                        Rückschlüsse
                        auf
                        individuelle Personen zulässt. Die Nutzung dieser aggregierten Auswertungen dient ausschließlich
                        dem
                        Zweck der Studienplanung und -beratung.</p>

                    <h3>Selbstauskunft</h3>

                    <p>Nutzende haben im Hinblick auf ihre individuellen Studiendaten die Möglichkeit, selbst zu
                        überprüfen,
                        welche Daten in Baula verarbeitet werden, indem sie die Funktionalität des individuellen
                        Datenexports
                        nutzen.
                    </p>

                    <h3>Betroffenenrechte</h3>

                    <p>Für den Dienst www.uni-bamberg.de besteht kein spezifischer Regelungsbedarf. Es gelten die
                        Angaben
                        der
                        <a class="link"
                            href="https://www.uni-bamberg.de/its/verfahrensweisen/datenschutz/datenschutzerklaerungen/allgemeine-datenschutzerklaerung/"
                            target="_blank">Allgemeinen Datenschutzerklärung der
                            Universität</a>.
                    </p>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>