.quote-list {
  max-height: 400px;
  overflow-y: auto;
}

.quote {
  border-left: 3px solid #ccc;
  padding-left: 1rem;
  margin: 0 0 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  footer {
    font-size: 0.85em;
  }
}
