@if (similarGroups.length > 0) {
  <div class="wizard-box w-100 d-flex">
    <div class="wizard-content-wrapper">
      <div class="meta-box recommendations-box w-100 mt-0">
        <!-- flex container for header -->
        <div class="header-container">
          <button mat-button (click)="toggleRecommendations()" class="show-recs-button btn btn-link text-left">
            <i class="bi bi-magic"></i> Vorschläge für Modulgruppen
            <i class="bi" [ngClass]="showRecommendations ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
          </button>
          <i class="bi bi-info-circle"
            matTooltip="Modulgruppen aus dem aktuellen Modulhandbuch, die zu mindestens 90% mit der Modulgruppe aus deinem FlexNow-Auszug übereinstimmen. Enthält auch Modulgruppen, in welchen das Modul in einem früheren Modulhandbuch belegbar waren."
          matTooltipClass="custom-tooltip" appTooltip></i>
        </div>
        <!-- recommendations content that can expand -->
        @if (showRecommendations) {
          <div class="recommendations-content">
            <div class="similar-groups">
              @for (group of similarGroups; track group) {
                <button mat-button
                  (click)="selectSimilarGroup(group.mgId.toString())" class="module-link mb-1">
                  {{ group.path }}
                </button>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}
