.input-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.meta-box {
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.show-recs-button {
    flex-grow: 1;
    color: black;
    text-decoration: none;
}

.recommendations-content {
    width: 100%;
}

.similar-groups {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.similar-groups .mat-button {
    display: block;
    width: 100%;
}