.status-active {
  color: #217178;
  background: #ddf3f5;
}

.active-toggle {
  color: var(--ub-blue);
}

.status-toggle {
  font-size: 1.5rem;
}

.mat-focus-indicator:hover {
  background: none !important;
}

.study-plan-list {
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
  margin-bottom: 2rem;
}

.study-plan-list-item {
  cursor: pointer;
  line-height: 2rem;
}

.study-plan-list-item:hover {
  background: var(--cus-bg-50);
}

.list-body .row {
  margin: auto 0;
}