<div class="container mx-auto my-3 my-md-5">
  <div class="row my-4 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <h2>Was ist BAULA?</h2>
      <p>
        Der digitale Studienassistent ist eine Webanwendung, die derzeit am
        <a class="link" href="https://www.uni-bamberg.de/minf" target="_blank">Lehrstuhl für Medieninformatik der
          Universität Bamberg</a>
        entwickelt wird. Die Entwicklung des Systems und die Erforschung der
        Mehrwerte und Potentiale ist Teil verschiedener Forschungsprojekte, an
        denen der Lehrstuhl mitwirkt.
      </p>

      <p>
        Am digitalen Studienassistent entwickeln und forschen Mitarbeitende aus
        den Projekten
        <a class="link" href="https://www.uni-bamberg.de/dikule" target="_blank">"DiKuLe: Digitale Kulturen in der
          Lehren
          entwickeln"</a> (bis 31.12.2025) und <a class="link" href="https://www.uni-bamberg.de/bakule/"
          target="_blank">"BaKuLe: Bamberger Kulturen der Lehre gemeinsam gestalten"</a> (ab 01.01.2026) gefördert
        durch die "Stiftung Innovation in der Hochschullehre" (StIL) sowie <a class="link"
          href="https://www.uni-bamberg.de/wiai/forschung/forschungseinrichtungen-verbundprojekte/voll-kiba/"
          target="_blank">"VoLL-KI: Von Lernenden lernen"</a> (bis 30.11.2025) gefördert durch das Bundesministerium
        für Forschung und Bildung (BMBF).
      </p>
      <h2>Wofür steht BAULA?</h2>
      <mat-card appearance="outlined" class="row justify-content-center mb-4">
        <div class="mx-4 my-4">
          <p>Baula ist ein Akronym und steht für:</p>
          <div>
            <p class="mb-0"><span class="acronym">B</span>amberger</p>
            <p class="mb-0"><span class="acronym">A</span>ssistent zur</p>
            <p class="mb-0"><span class="acronym">U</span>nterstützung der</p>
            <p class="mb-0">
              <span class="acronym">L</span>ehrveranstaltungskoordination und
            </p>
            <p class="mb-0"><span class="acronym">A</span>uswahl</p>
          </div>
        </div>
      </mat-card>

      <h2>Welche Publikationen gibt es schon zu BAULA?</h2>
      Eine aktuelle Liste zu Publikationen rund um den digitalen
      Studienassistenten findest du unter
      <a class="link" routerLink="/publikationen">Publikationen</a>.
    </div>
  </div>
</div>