<div class="container">
    <div class="row">

        <!-- Unapproved -->
        <div class="col">
            <h2>Noch nicht genehmigte Wünsche</h2>

            <div class="row">
                @for (wish of unapprovedWishes; track wish) {
                <div class="col-12 col-lg-6">
                    <app-admin-single-feature-wish [wish]="wish" [deleteButton]="true" [approveButton]="true"
                        (delete)="deleteWish($event)" (approve)="approveWish($event)"
                        (unapprove)="unapproveWish($event)">
                    </app-admin-single-feature-wish>
                </div>
                }
            </div>
        </div>

        <!-- Approved -->
        <div class="col">
            <h2>Genehmigte Wünsche</h2>

            <div class="row">
                @for (wish of approvedWishes; track wish) {
                <div class="col-12 col-lg-6">
                    <app-admin-single-feature-wish [showLikes]="true" [wish]="wish" [deleteButton]="true"
                        [unapproveButton]="true" (delete)="deleteWish($event)" (approve)="approveWish($event)"
                        (unapprove)="unapproveWish($event)">
                    </app-admin-single-feature-wish>
                </div>
                }
            </div>
        </div>

    </div>
</div>