<div class="content-wrapper">
    <div class="input-field-wrapper">
        <mat-form-field *ngIf="structuredModuleGroups" appearance="outline">
            <mat-label>Modulgruppe</mat-label>
            <mat-select #mgForm [formControl]="selectedModuleGroup" [value]="mgId" placeholder="Bitte wählen"
                (selectionChange)="select(mgForm.value)">
                <mat-option *ngFor="let group of structuredModuleGroups" [value]="group.mgId"
                    [ngStyle]="{'padding-left': ((group.level ?? 0) * 10 + 10) + 'px'}"> {{ group.path }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<!-- show mg wizard -->
<div class="wrapper w-90 mt-0">
    <app-module-group-wizard [mgId]="mgId" [structuredModuleGroups]="structuredModuleGroups"
        [possibleMgIdsBasedOnAcronym]="possibleMgIdsBasedOnAcronym$ | async"
        (groupSelected)="selectSimilarGroup($event)">
    </app-module-group-wizard>
</div>