.modules-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

mat-card {
    cursor: grab;
}

mat-sidenav-container {
    display: flex;
    height: 100%;
}

.sidenav {
    width: 80px;
}

.sidenav-content {
    padding: 20px;
    width: 100%;
    margin-left: 80px;
}

mat-nav-list {
    padding: 0;
}

mat-list-item {
    cursor: pointer;
    padding: 50px 0px;
}

mat-list-item.active {
    background: rgba(0, 0, 0, 0.04);
}

mat-card {
    margin-bottom: 10px;
}

.tab-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
        font-size: 1.5rem;
    }

    .tab-label {
        font-size: 0.8rem;
    }
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}

.favourite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.plus-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: var(--ub-blue);
}

.dropped {
    opacity: 0.7;

    .plus-icon i {
        color: text-success;
    }
}

.favourite-button {
    margin-right: 5px;
    border: none;
    background: none;
}

.icon-button {
    float: right;
    border: none;
    background: transparent;
}

.compulsory-wrapper {
    text-align: right;
}

.mat-card-header {
    display: flex;
    align-items: center;
}

.mat-card-title {
    flex-grow: 1;
}

.mat-card-content {
    padding: 15px;
}

.btn-clear-favourites {
    margin: 10px;
}

.badge-on-top {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.7rem !important;
}

@media (max-width: 768px) {

    .icon-button,
    .compulsory-wrapper {
        float: none;
        text-align: left;
    }

    .col-6 {
        width: 100%;
    }
}