<!-- Navigation -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-8">
    <h4 class="nav-header text-center" i18n>Zielperspektiven / Kompetenzstandards</h4>
    <nav>
      <ul class="nav">
        <!-- Standards to select -->
        <app-standard></app-standard>
      </ul>
    </nav>
  </div>
</div>
<!-- Section for the charts / structure -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12">
    @if (!(this.selectedStandard$ | async)) {
      <div class="alert alert-primary" i18n>
        Bitte wählen Sie einen Standard aus!
      </div>
    } @else {
      @if (this.competences$ | async; as comp) {
        @if (this.courses$ | async; as courses) {
          <!-- Chart section -->
          <compvis-chart [competences]="comp" [selectedCourses]="courses"> </compvis-chart>
        }
      }
    }
  </div>
</div>