<form [formGroup]="moduleForm">
  @if (modules !== undefined) {
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Module</mat-label>
      <mat-select formControlName="selectedModules" (selectionChange)="changeSelection($event.value)" multiple>
        <mat-select-trigger>
          {{modules[0] || ''}}
          @if ((modules.length || 0) > 1) {
            <span>
              <!-- TODO: Add i18n to the following line -->
              (+{{(modules.length || 0) - 1}} {{modules.length === 2 ? 'weitere' : 'weitere'}})
            </span>
          }
        </mat-select-trigger>
        @if (ewsI$ | async; as ewsI) {
          <mat-optgroup label="EWS I">
            @for (module of ewsI; track module) {
              <mat-option value="{{module.name}} ({{module.acronym}})">{{module.acronym}} - {{ module.name}} </mat-option>
            }
          </mat-optgroup>
        }
        @if (ewsII$ | async; as ewsII) {
          <mat-optgroup label="EWS II">
            @for (module of ewsII; track module) {
              <mat-option value="{{module.name}} ({{module.acronym}})">{{module.acronym}} - {{ module.name}} </mat-option>
            }
          </mat-optgroup>
        }
      </mat-select>
    </mat-form-field>
  }
</form>

