.no-data-message, .no-data-message-diagram {
  font-size: 0.75rem;
}

.no-data-message-diagram {
  width: 50%;
}

.no-data-img {
  width: 100px;
  height: auto;
}

.no-data-btn {
  font-size: 0.75rem;
}
