<ng-container role="Dialoginhalt">
    <div class="content-wrapper">
        <div *ngIf="studyPlans && studyPlans.length !== 1 && !newPlanId">
            <p>Du möchtest deinen aktuelle aktiven Studienplan deaktivieren. Wähle hier einen Studienplan aus, den du
                stattdessen aktivieren möchtest.</p>
            <mat-form-field appearance="outline">
                <mat-label>Wähle einen Studienplan aus:</mat-label>
                <mat-select [formControl]="newPlanIdForm" aria-label="Dropdown zur Auswahl eines neuen aktiven Studienplans" required>
                    <mat-option *ngFor="let studyPlan of studyPlans" [value]="studyPlan._id">
                        {{ studyPlan.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <p>Durch den Wechsel deines aktiven Studienplan ändert sich nicht dein bisheriger Studienverlauf. Die Aktivierungsänderung betrifft 
                somit nur das aktuelle sowie die zukünftigen Semester (Standardeinstellung). Du kannst die bisher eingeplanten Module des aktuellen Semesters auch in den 
                neuen aktiven Studienplan übernehmen, vorhandene Pläne in diesem Plan werden dann überschrieben. Das bietet sich für den Fall an, dass 
                du das aktuelle Semester fertig geplant hast und die eingeplanten Module der zukünftigen Semester übernehmen möchtest. 
                <span class="text-danger fw-bold">
                    Bitte beachte, dass der Studienplan den du aktivierst sich am aktuellen Semester deines bisher aktiven Studienplans orientiert, 
                    die vorherigen Semester werden ausgeblendet.
                </span>
            </p>
            <mat-checkbox [(ngModel)]="keepCurrentSemester">Ich möchte die eingeplanten Module des aktuellen Semesters aus meinem alten aktiven Studienplan in den neuen aktiven
                Studienplan übernehmen.</mat-checkbox>
        </div>
        <mat-dialog-actions>
            <button mat-raised-button class="btn btn-outline" mat-dialog-close>
                Abbrechen
            </button>
            <button mat-raised-button class="btn btn-primary" [mat-dialog-close]="{ newId: newPlanIdForm.value, keepCurrentSemester}" [disabled]="!newPlanIdForm.value && studyPlans">
                Status ändern
            </button>
        </mat-dialog-actions>
    </div>
</ng-container>