@if (academicDates$ | async; as academicDates) {
  <mat-card-content class="container-fluid d-block pt-0">
    @for (date of academicDates; track date) {
      <!-- current periods -->
      <!-- check if datetype is not 'Vorlesungsfrei' -->
      @if (date.dateType.typeId !== 6) {
        @if (!isPeriodOver(date)) {
          <div class="row py-2 align-items-center justify-content-between">
            <div class="col-auto">{{ date.dateType.name }}:</div>
            <div class="col d-flex justify-content-end align-items-center">
              <span class="btn period-btn-disabled btn-outline-secondary px-3" [ngClass]="getCountdownClass(date)"
                matTooltip="{{ getCountdownMessage(date) }}" matTooltipClass="custom-tooltip">
                <i class="bi bi-clock ms-2"></i>
                {{ date.startdate | date:'shortDate' }}
                @if (date.starttime) {
                  <span i18n="Semester beginnt ab...">(ab {{ date.starttime }})</span>
                }
                bis
                {{ date.enddate | date:'shortDate' }}
                @if (date.endtime) {
                  <span i18n="Semester geht bis...">(bis {{ date.endtime }})</span>
                }
              </span>
            </div>
          </div>
        }
      }
    }
    <!-- show message if no current periods exist -->
    @if (activePeriods.length === 0) {
      <div class="text-muted" i18n>
        Keine aktuellen Zeiträume.
      </div>
    }
    <!-- expandable past periods -->
    @if (pastPeriods.length > 0) {
      <div class="my-3">
        <span class="toggle-text text-gray" (click)="togglePastPeriods()">
          <!-- TODO: Add i18n, e.g. by wrapping a ng-container around the text, or using something like this: -->
          <!-- <ng-container i18n="@@togglePastPeriodsText">{pastPeriodsExpanded, select, true {Vergangene Zeiträume verbergen} false {Vergangene Zeiträume anzeigen}}</ng-container> -->
          {{ pastPeriodsExpanded ? 'Vergangene Zeiträume verbergen' : 'Vergangene Zeiträume anzeigen' }}
            <i class="bi" [ngClass]="{
              'bi-chevron-up': pastPeriodsExpanded, 
              'bi-chevron-down': !pastPeriodsExpanded
            }"></i>
        </span>
      </div>
    }
    @if (pastPeriodsExpanded) {
      <div>
        @for (date of academicDates; track date) {
          @if (date.dateType.typeId !== 6) {
            @if (isPeriodOver(date)) {
              <div class="row py-2 align-items-center justify-content-between">
                <div class="col-auto">{{ date.dateType.name }}:</div>
                <div class="col d-flex justify-content-end align-items-center">
                  <span class="btn period-btn-disabled btn-outline-secondary px-3"
                    matTooltip="{{ getCountdownMessage(date) }}" matTooltipClass="custom-tooltip">
                    <i class="bi bi-clock ms-2"></i>
                    {{ date.startdate | date:'shortDate' }}
                    @if (date.starttime) {
                      <span i18n="Zeitraum beginnt ab...">(ab {{ date.starttime }})</span>
                    }
                    bis
                    {{ date.enddate | date:'shortDate' }}
                    @if (date.endtime) {
                      <span i18n="Zeitraum geht bis...">(bis {{ date.endtime }})</span>
                    }
                  </span>
                </div>
              </div>
            }
          }
        }
      </div>
    }
  </mat-card-content>
}