<div class="dialog-container" role="dialog" aria-label="Dialogfenster">
  <div class="dialog-body">
    <mat-dialog-content>
      <ng-container class="col-12 col-md-6 conditional-body">
        <!-- displays title if there is one -->
        @if (data.dialogTitle) {
          <div>
            <p mat-dialog-title class="pl-0 text-gray">{{ data.dialogTitle }}</p>
          </div>
        }

        <!-- displays subdialog according to id -->
        @if (
          data.studyPlan && data.dialogContentId === 'add-study-plan-dialog'
          ) {
          <div>
            <app-study-plan-dialog [studyPlan]="data.studyPlan"></app-study-plan-dialog>
          </div>
        }
        @if (
          data.aimedEcts !== undefined && data.dialogContentId === 'update-aimed-ects-dialog'
          ) {
          <div>
            <app-aimed-ects-dialog [aimedEcts]="data.aimedEcts"></app-aimed-ects-dialog>
          </div>
        }
        @if (
          data.dialogContentId === 'edit-grade-dialog' && data.minGrade && data.maxGrade
          ) {
          <div>
            <app-edit-grade-dialog [grade]="data.grade" [minGrade]="data.minGrade"
            [maxGrade]="data.maxGrade"></app-edit-grade-dialog>
          </div>
        }
        @if (
          data.missingModules && data.dialogContentId === 'upload-student-data-stepper'
          ) {
          <div>
            <app-upload-student-data-stepper [missingModules]="data.missingModules"></app-upload-student-data-stepper>
          </div>
        }

        @if (
          data.missingModules && data.dialogContentId === 'finish-semester-stepper'
          ) {
          <div>
            <app-finish-semester-stepper [missingModules]="data.missingModules"></app-finish-semester-stepper>
          </div>
        }

        @if (
          data.module &&
          data.dialogContentId === 'add-user-generated-module-dialog'
          ) {
          <div>
            <app-user-generated-module-dialog [module]="data.module"></app-user-generated-module-dialog>
          </div>
        }

        @if (
          data.pathModule &&
          data.dialogContentId === 'edit-path-module-dialog'
          ) {
          <div>
            <app-edit-path-module-dialog [pathModule]="data.pathModule"></app-edit-path-module-dialog>
          </div>
        }

        @if (
          data.selectedModule &&
          data.dialogContentId === 'module-details-dialog'
          ) {
          <div>
            <app-module-details-dialog [selectedModule]="data.selectedModule" [allowPlanning]="data.allowPlanning"
            [dialog]="dialogRef"></app-module-details-dialog>
          </div>
        }

        @if (
          data.statusOptions &&
          data.status &&
          data.moduleData &&
          data.dialogContentId === 'change-status-dialog'
          ) {
          <div>
            <app-change-status-dialog [module]="data.moduleData" [statusOptions]="data.statusOptions" [status]="data.status"
              [statusSemester]="data.statusSemester" [semesters$]="data.semesters$" [grade]="data.grade">
            </app-change-status-dialog>
          </div>
        }
        @if (
          data.mgId &&
          data.structuredModuleGroups$ &&
          data.dialogContentId === 'change-module-group-dialog'
          ) {
          <div>
            <app-change-module-group-dialog [mgId]="data.mgId"
            [structuredModuleGroups$]="data.structuredModuleGroups$" [acronym]="data.acronym"></app-change-module-group-dialog>
          </div>
        }
        @if (
          data.modules &&
          data.semesterPlanId &&
          data.dialogContentId === 'add-module-dialog'
          ) {
          <div>
            <app-add-module-dialog [modules]="data.modules"
            [semesterPlanId]="data.semesterPlanId"></app-add-module-dialog>
          </div>
        }
        @if (
          data.semesters$ &&
          data.dialogContentId === 'select-semester-dialog'
          ) {
          <div>
            <app-select-semester-dialog [semesters$]="data.semesters$" [mode]="data.mode"></app-select-semester-dialog>
          </div>
        }

        @if (
          data.dialogContentId === 'upload-student-data-dialog' && data.onlyMetaData !== undefined && data.onlyStudypath !== undefined
          ) {
          <div>
            <app-upload-student-data-dialog [onlyMetaData]="data.onlyMetaData" [onlyStudypath]="data.onlyStudypath"></app-upload-student-data-dialog>
          </div>
        }
        @if (
          data.semesters$ &&
          data.selectedSemester$ &&
          data.dialogContentId === 'edit-semester-dialog'
          ) {
          <div>
            <app-edit-semester-dialog [semesters$]="data.semesters$"
            [currentSemester]="data.selectedSemester$ | async"></app-edit-semester-dialog>
          </div>
        }
        <!-- Dialog for Standard -->
        @if (data.standard && data.dialogContentId === 'standard-dialog') {
          <div>
            <app-standard-dialog [standard]="data.standard"></app-standard-dialog>
          </div>
        }

        <!-- Dialog for Course Details -->
        @if (data.course && data.deselectOption !== undefined && data.dialogContentId === 'course-details-dialog') {
          <div
            >
            <app-course-details-dialog [course]="data.course"
            [deselectOption]="data.deselectOption"></app-course-details-dialog>
          </div>
        }

        <!-- Dialog for Import and Export -->
        @if (data.dialogContentId === 'import-dialog' && data.importType) {
          <div>
            <app-import-dialog [importType]="data.importType" [startSemester]="data.startSemester"
              [studyPlanTemplate$]="data.studyPlanTemplate$"
            [isFirstSemesterStudent]="data.isFirstSemesterStudent"></app-import-dialog>
          </div>
        }
        @if (data.dialogContentId === 'export-dialog' && data.studyPlan && data.studyPath) {
          <div>
            <app-export-dialog [studyPlan]="data.studyPlan" [studyPath]="data.studyPath"></app-export-dialog>
          </div>
        }
        <!-- Generischer Dialog für die Wahl zwischen Optionen -->
        @if (data.dialogContentId === 'select-option-dialog' && data.options) {
          <div>
            <app-select-option-dialog [options]="data.options"></app-select-option-dialog>
          </div>
        }
        <!-- Dialog for Activation of Study plan -->
        @if (data.dialogContentId === 'activate-study-plan' && data.activeStudyPlan) {
          <div>
            <app-activate-study-plan-dialog [studyPlans]="data.studyPlans" [activePlan]="data.activeStudyPlan"
            [newPlanId]="data.newPlanId"></app-activate-study-plan-dialog>
          </div>
        }
        <!-- Dialog for resolving collisions of courses -->
        @if (data.dialogContentId === 'resolve-collision' && data.courses) {
          <div>
            <app-resolve-collision-dialog [courses]="data.courses"></app-resolve-collision-dialog>
          </div>
        }
        <!-- Dialog for editing or adding new jobs -->
        @if (data.dialogContentId === 'edit-job') {
          <div>
            <app-edit-job-dialog [job]="data.job"></app-edit-job-dialog>
          </div>
        }
        <!-- Dialog for forcing reload if error from api returns -->
        @if (data.dialogContentId === 'force-reload') {
          <div>
            <app-reload-dialog></app-reload-dialog>
          </div>
        }
        <!-- Dialog for evaluation -->
        @if (data.dialogContentId === 'evaluation') {
          <div>
            <app-evaluation-dialog [content]="data.content"></app-evaluation-dialog>
          </div>
        }

        <!-- Dialog to show important notifications -->
        @if (data.dialogContentId === 'notification-dialog') {
          <div>
            <app-notification-dialog></app-notification-dialog>
          </div>
        }

        @if (data.dialogContentId === 'demo-user-dialog') {
          <app-demo-user-dialog></app-demo-user-dialog>
        }

        @if (data.dialogContentId === 'update-mhb-dialog' && data.mhb) {
          <app-update-mhb-dialog [currentMhb]="data.mhb"></app-update-mhb-dialog>
        }

        @if (data.dialogContentId === 'privacy-change-dialog') {
          <div>
            <app-privacy-change-dialog></app-privacy-change-dialog>
          </div>
        }

        @if(data.user && data.dialogContentId === 'add-user-dialog') {
          <app-user-dialog [user]="data.user"></app-user-dialog>
        }

      </ng-container>
    </mat-dialog-content>
  </div>
</div>