<!-- dynamicHeight removes the scrollbar when switching tabs-->
@if (courses$ | async; as courses) {
  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Alle Lehrveranstaltungen" i18n-label>
      <app-all-courses
        [courses]="courses"
      ></app-all-courses>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span i18n>Empfehlungen</span>
      </ng-template>
      <app-recommendations
        [courses]="courses"
        [selectedStandard]="selectedStandard$ | async"
      ></app-recommendations>
    </mat-tab>
</mat-tab-group>
}
