<form [formGroup]="academicDateForm">
  <mat-form-field>
    <mat-label i18n>Beginn und Ende des Zeitraums</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Beginn" formControlName="startdate" i18n-placeholder>
      <input matEndDate placeholder="Ende" formControlName="enddate" i18n-placeholder>
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <div>
    <mat-form-field>
      <mat-label i18n>Startzeit</mat-label>
      <input type="time" matInput formControlName="starttime">
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Endzeit</mat-label>
      <input type="time" matInput formControlName="endtime">
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label i18n>Beschreibung</mat-label>
    <input type="text" matInput formControlName="desc">
  </mat-form-field>

  <mat-form-field>
    <mat-label i18n>Semester</mat-label>
    <mat-select formControlName="semester" name="semester">
      @for (sem of semesterlist; track sem) {
        <mat-option  [value]="sem.name">{{ sem.fullName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (dateTypes$ | async; as dateTypes) {
    <mat-form-field formGroupName="dateType">
      <mat-label i18n>DateType</mat-label>
      <mat-select formControlName="typeId" name="typeId">
        @for (dateType of dateTypes; track dateType) {
          <mat-option [value]="dateType.typeId">{{ dateType.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</form>

<mat-dialog-actions>
  <button mat-raised-button class="btn btn-outline" mat-dialog-close>Abbrechen</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button class="btn btn-primary" [mat-dialog-close]="this.academicDateForm.value"
  [disabled]="!this.academicDateForm.valid" i18n>Speichern</button>

</mat-dialog-actions>