.action-icons .icon:hover {
  color: var(--ub-blue-100);
}

.ects-sum {
  color: var(--cus-petrol-100);
}

// sidenav
.sidenav-container {
  height: 100vh;
  overflow: hidden;
}

.mat-sidenav {
  width: 30vw;
  overflow-y: auto;
}

.hints-sidenav {
  width: 20vw;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1199.98px) {
  .mat-sidenav {
    width: 100vw;
  }

  .hints-sidenav {
    width: 35vw;
  }
}

@media (max-width: 768px) {
  .mat-sidenav {
    width: 100vw;
  }

  .hints-sidenav {
    width: 100vw;
  }
}