<div class="row">
    <div class="col-12 col-lg-7">
        <app-bar-chart [competences]="upperCompetences" [courses]="selectedCourses"
            [bars]="bars$ | async"></app-bar-chart>
    </div>
    <div class="col-12 col-lg-5">
        <div class="alert alert-primary" *ngIf="selectedCourses.length === 0">
            Auf der linken Seite finden Sie die Veranstaltungsliste.
            Hier können Sie die Veranstaltungen, welche Sie belegen anklicken.
            Die darin vermittelten Kompetenzen werden dann in der Mitte des Bildes visualisiert.
        </div>
        <div class="alert alert-primary" *ngIf="selectedCourses.length !== 0 && (selectedBar$ | async) === undefined">
            Sie sehen nun die Visualisierung der ersten Kompetenzebene.
            Um nähere Informationen zur zweiten Kompetenzebene zu erhalten, klicken Sie auf den Balken des gewünschten
            Kompetenzfeldes.
        </div>
        <!-- DonutChart -->
        <app-donut-chart *ngIf="selectedCourses.length !== 0 && (selectedBar$ | async) !== undefined"
            [competences]="lowerCompetences" [courses]="selectedCourses" [bars]="bars$ | async"
            [selectedBar]="selectedBar$ | async"></app-donut-chart>
    </div>
</div>