<ng-container role="Dialogfenster" aria-label="Dialogfenster" i18n-aria-label>
    <div class="content-wrapper">
        <div class="scrollable-content">
            <app-upload-data-privacy [version]="'bakule'"></app-upload-data-privacy>
        </div>
        <div class="mt-4 mb-2">
            <app-upload-student-data-confirmation [onlyMetaData]="onlyMetaData" [onlyStudypath]="onlyStudypath"
                (confirmFlexNowImport)="receiveChanges($event)"></app-upload-student-data-confirmation>
        </div>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button class="btn btn-outline" mat-dialog-close (click)="close()"
            (keyup)="close()" i18n>
            Abbrechen
        </button>
        <button mat-raised-button class="btn btn-primary plausible-event-name=Studyprogression-Save+Button"
            [mat-dialog-close]="getConsent()" id="study_prog_save_button" [disabled]="!flexNowImportConfirmed"
            (click)="close()" (keyup)="close()" i18n>
            Weiter
        </button>
    </mat-dialog-actions>
</ng-container>