.mat-drawer-content {
  overflow: hidden !important;
}

.passive {
  opacity: 0.50;
  pointer-events: none;
}

.semester-header:hover {
  cursor: pointer;
}

.edit-pencil {
  font-size: 1.5rem;
}

.sidenav-container {
  height: 100vh;
  overflow: hidden;
}

.study-plan-sidenav {
  position: fixed;
  top: 51px;
  bottom: 0;
  overflow-y: auto;
  transform: translate3d(0, 0, 0);
  width: 78px;

  &:not(.mat-drawer-opened):not(.mat-drawer-animating) {
    visibility: inherit;
  }

  &.mat-drawer-opened {
    width: 30vw;
    box-shadow: -6px 0 24px rgba(0, 0, 0, 0.06);
  }
}

// hide sidenav for inactive plans
.study-plan-sidenav.zero-width {
  width: 0 !important;
}

.trigger-study-plan-sidenav {
  background: var(--ub-blue);
  color: white;
  border-radius: 50rem;
  cursor: pointer;
  outline: none;
  position: fixed;
  top: 80px;
  left: 65px;
  z-index: 25;
  width: 40px;
  height: 40px;

  &.open {
    left: calc(30vw + 10px) !important;
    transform: translateX(-50%) !important;
  }

  &:hover {
    i {
      animation: moveToRight 0.5s ease-in-out;
    }
  }

  .icon-wrapper i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes moveToRight {
  0% {
    transform: translate(-50%, -50%) translateX(0);
  }

  50% {
    transform: translate(-50%, -50%) translateX(3px);
  }

  100% {
    transform: translate(-50%, -50%) translateX(0);
  }
}

.apply-padding {
  padding-left: 58px;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .manage-study-plans {
    margin-bottom: 1rem;
  }

  .mat-sidenav {
    width: 90vw;
  }

  .trigger-study-plan-sidenav.open {
    left: calc(90vw + 15px);
  }
}

.semester-container-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.semester-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  flex-grow: 1;
  height: 100%;
  flex-direction: row;
  align-items: flex-start;
  min-height: 1000px;

  >div {
    flex: 0 0 300px;
    min-width: 300px;
    transition: flex 0.3s ease, min-width 0.3s ease;

    &.collapsed {
      flex: 0 0 60px !important;
      min-width: 60px !important;
    }
  }
}

.semester-container [cdkDropList] {
  height: 100%;
  width: 100%;
  transition: background-color 0.3s ease;
}

.semester-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.semester-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 0 auto;
}

.semester-column {
  position: relative;

  &.separator {
    margin-right: 40px;

    &::before {
      content: '';
      position: absolute;
      right: -25px;
      top: 0;
      bottom: 0;
      width: 0;
      border-left: 2px dashed #d4d4d4;
      z-index: 1;
    }
  }
}

.add-semester-btn .bi {
  font-size: 0.85rem;
  font-style: normal;
}

.redirect {
  color: white;
  text-decoration: none;
}

.hints-sidenav {
  z-index: 25;
}

.hints-sidenav {
  width: 20vw;
}

@media (max-width: 1199.98px) {

  .hints-sidenav {
    width: 35vw;
  }
}

@media (max-width: 768px) {

  .hints-sidenav {
    width: 100vw;
  }
}