.step {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-bottom: 1px solid #eee;
}

.step:last-child {
    border-bottom: none;
}

.step:hover {
    cursor: pointer;
    background: var(--cus-bg-50);
}

.step-icon {
    font-size: 1.3rem;
    color: var(--ub-blue);
    margin-right: 1rem;
    flex-shrink: 0;
}

.step-content {
    flex-grow: 1;
}

.step-desc {
    font-size: 0.8rem;
}