<mat-card-content class="container-fluid d-block pt-0">
  <div class="card-body p-0">
    @for (step of steps; track step) {
      <div class="step" [routerLink]="[step.link]">
        <i [class]="step.icon + ' step-icon'"></i>
        <div class="step-content">
          <div class="step-title fw-bold">{{ step.title }}</div>
          <div class="step-desc">{{ step.description }}</div>
        </div>
        <div class="step-progress">
          @if (step.completed$ | async) {
            <i class="bi bi-check-circle-fill text-success"></i>
          } @else {
            <i class="bi bi-circle"></i>
          }
        </div>
      </div>
    }
  </div>
</mat-card-content>