<!-- Searchbar -->
<div class="row mt-3 mb-1">
  <div class="col-6">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label i18n>Suchbegriff</mat-label>
      <input matInput [(ngModel)]="searchTerm" (keyup)="searchCourses($event)">
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label i18n>Suche in...</mat-label>
      <mat-select [formControl]="filters" multiple>
        <mat-select-trigger>
          {{filters.value ? filters.value[0] : ''}}
          @if (filters.value?.length > 1) {
            <span class="example-additional-selection">
              <!-- TODO: Add i18n to the next line -->
              (+{{filters.value.length - 1}} {{filters.value?.length === 2 ? 'weiteres' : 'weitere'}})
            </span>
          }
        </mat-select-trigger>
        @for (filteroption of filterList; track filteroption) {
          <mat-option [value]="filteroption">{{filteroption}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="my-2 mb-4">
  <button class="btn btn-outline w-100" (click)="searchCourses()" i18n>Suchen</button>
</div>
<!-- Search result list -->
@if (!searchResult || searchResult.length !== 0) {
  @for (course of searchResult; track course) {
    <div>
      @if (selectedCourses$ | async; as selectedCourses) {
        <app-course-item [course]="course" [selectedCourses]="selectedCourses"></app-course-item>
      }
    </div>
  }
} @else {
  <div class="mt-2 alert alert-primary" i18n>
    Zum eingegebenen Suchbegriff konnten keine passenden Lehrveranstaltungen gefunden werden!
  </div>
}


