
span {
    float: left;
    text-align: left;
    width: 90%;
    padding: 5px;
}

label {
    display: inline;
}

.unitButton {
    width: 30%;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    border: 3px solid #99B5CB;
    border-radius: 10px;
    background-color: white;
}

.unitButton:hover {
    border: 3px solid var(--ub-blue);
    color: #303030;
}

.unitButton:focus {
    border: 3px solid var(--ub-blue);
    background-color: var(--ub-blue-0);
    color: #303030;
}

#unitSelected, #viewSelected, #activeTab {
    border: 3px solid var(--ub-blue);
    background-color: var(--ub-blue-0);
    color: #303030;
}

hr {
    margin-bottom: 10px;
}

#semester-dropdown {
    width: 30%;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #99B5CB;
    border-radius: 5px;
    background-color: white;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
    .unitButton {
        width: 45%;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #semester-dropdown {
        width: 60%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  
    .unitButton {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    #semester-dropdown {
        width: 80%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
    .unitButton {
        width: 45%;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #semester-dropdown {
        width: 60%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
    .unitButton {
        width: 45%;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #semester-dropdown {
        width: 60%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }