<div class="mb-2" *ngIf="errorLogs$ | async as errorLogs">
  <mat-card appearance="outlined" class="server-log">
    <mat-card-header>
      <mat-card-title>Error-Logs vom Server</mat-card-title>
    </mat-card-header>
    <mat-card-content class="container-fluid">
      <div *ngFor="let log of errorLogs" class="row my-2">
        <div class="col-md-1 col-sm-2 col-6">
          <span class="badge text-bg-danger">{{ log.level }}</span>
        </div>
        <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
          {{ log.timestamp | date : "short" }}
        </div>
        <div class="col-xl-9 col-lg-8 col-sm-6 col-12">
          {{ log.message }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>