#not-connected-container {
    background-color: var(--ub-red-20);
}

#part-connected-container {
    background-color: var(--ub-yellow-20);
}

#full-connected-container {
    background-color: var(--ub-green-20);
}