<div class="container-fluid">
  <!-- Button to init connection of courses to modulecourses -->
  <div class="row">
    <button class="w-100 btn btn-primary" (click)="connectCourses2Modulcourses()">
      Verknüpfe UnivIS-Lehrveranstaltungen mit Modul-LVs mittels Heuristik
    </button>
  </div>
  <div class="row my-4">
    <!-- Change option for semester -->
    <admin-semester-selection-form (semesterChange)="selectSemester($event)"></admin-semester-selection-form>
  </div>

  <!-- Kanban Board for Modules of the currently selected studyprogramme -->
  <div class="row my-4">
    @if (courses$ | async; as courses) {
      @if (noConnectedCourses$ | async; as noConnectedCourses) {
        <div id="not-connected-container" class="col">
          <h3>Nicht verknüpfte Module</h3>
          <admin-connection-card [containers]="noConnectedCourses" [semester]="selectedSemester" [courses]="courses" (update)="initModuleConnections()"></admin-connection-card>
        </div>
      } @else {
        <div class="col">
          <mat-spinner></mat-spinner>
        </div>
      }
      @if (partiallyConnectedCourses$ | async; as partiallyConnectedCourses) {
        <div id="part-connected-container" class="col"
          >
          <h3>Teilweise verknüpfte Module</h3>
          <admin-connection-card [containers]="partiallyConnectedCourses" [semester]="selectedSemester" [courses]="courses" (update)="initModuleConnections()"></admin-connection-card>
        </div>
      }
      @if (fullyConnectedCourses$ | async; as fullyConnectedCourses) {
        <div id="full-connected-container" class="col">
          <h3>Vollständig verknüpfte Module</h3>
          <admin-connection-card [containers]="fullyConnectedCourses" [semester]="selectedSemester" [courses]="courses" (update)="initModuleConnections()"></admin-connection-card>
        </div>
      }
    } @else {
      <div class="col">
        <mat-spinner></mat-spinner>
      </div>
    }

  </div>
</div>

<!-- Spinner while loading the connection data -->
