.data-wrapper {
    min-height: 300px;
    border: 1px solid var(--ub-blue-40);

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .empty-state {
        min-height: 300px;
    }
}

.item-name {
    font-size: 0.8rem;
}

.card-title {
    color: var(--ub-blue)
}

.preview-list {
    position: relative;
    overflow: hidden;

    .gradient-overlay {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 3rem;
        pointer-events: none;
        background: linear-gradient(to top, var(--cus-bg-100), rgba(255, 255, 255, 0));
    }
}