<div class="container">
    <div class="row flex-column align-items-center text-center">
        <div class="col-md-6">
            <h2>404 - Seite nicht verfügbar</h2>
            <p>Upps... Du hast eine Seite aufgerufen, welche nicht vorhanden ist.</p>
        </div>
        <div class="col-md-6">
            <img class="w-50" src="../../../assets/not_found.png"
                alt="Studentin mit fragendem Ausdruck und einem Fenster mit 404 Anzeige." />
            <p class="attribution text-center mt-2">
                Designed by:
                <a class="link" href="https://de.freepik.com/">Freepik</a>
            </p>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" routerLink="/welcome">Zurück zur Startseite!</button>
        </div>
    </div>
</div>