<div class="content scrollable-content">

    <ng-container *ngIf="version === 'vollki'">

        <h2>Einwilligungs&shy;erklärung</h2>

        <p>gemäß Art. 6 Abs. 1 Unterabs. 1 Buchst. a, Art. 7 und 4 Nr. 11 EU-Datenschutz-Grundverordnung (DSGVO) in die
            Verarbeitung personenbezogener Daten in dem Projekt "Von Lernenden Lernen: Ganzheitliche Daten- und
            Wissensunterstützte Hochschulbildung und deren Gestaltung
            (VoLL-KI) - BMBF" der Universität Bamberg.</p>
        <h3>1. Verantwortliche im Sinn von Art. 4 Nr. 7 DSGVO:</h3>

        <mat-card class="contact-card p-2">
            <b>Otto-Friedrich-Universität Bamberg</b><br>
            Präsident Prof. Dr. Kai Fischbach<br>
            Kanzlerin Dr. Dagmar Steuer-Flieser<br>
            Kapuzinerstraße 16<br>
            96047 Bamberg<br>
            Telefon: +49 951 863 0<br>
            Telefax: +49 951 863 1005<br>
            <span style="white-space: nowrap;">E-Mail:<a class="contact-mail"
                    href="mailto:ul.datenschutz@uni-bamberg">ul.datenschutz&#64;uni-bamberg</a></span>
        </mat-card>

        <h3>2. Leitung des Projekts (Teilprojekt Universität Bamberg):</h3>

        <mat-card class="contact-card p-2">
            Prof. Dr. Ute Schmid<br>
            Lehrstuhl für Kognitive Systeme<br>
            An der Weberei 5, 96049 Bamberg<br>
            Telefon: +49 951 2860<br>
            <span style="white-space: nowrap;">E-Mail: <a
                    href="mailto:ute.schmid@uni-bamberg.de">ute.schmid&#64;uni-bamberg.de</a></span>
        </mat-card>

        <h3>3. Kontaktdaten des behördlichen Datenschutzbeauftragten:</h3>
        <mat-card class=" contact-card p-2">
            Datenschutzbeauftragter der Otto-Friedrich-Universität Bamberg<br>
            Kapuzinerstraße 25<br>
            96047 Bamberg<br>
            Telefon: +49 951 863 1030<br>
            Telefax: + 49 951 863 4030<br>
            <span style="white-space: nowrap;">E-Mail: <a
                    href="mailto:datenschutzbeauftragter@uni-bamberg.de">datenschutzbeauftragter&#64;uni-bamberg.de</a></span>
        </mat-card>

        <h3>4. Zweck des Projekts:</h3>
        <p>Im Rahmen des Forschungsprojekts zur datengetriebenen Studienplanung an der Fakultät Wirtschaftsinformatik
            und
            Angewandte Informatik der Universität Bamberg werden technische und organisatorische Möglichkeiten zur
            Verbesserung der Studienplanung untersucht. Hierbei wurde eine Webanwendung (digitaler Studienassistent)
            entwickelt, die die
            kurz- sowie langfristige Studienplanung unterstützt und in diesem Rahmen möglichst personalisierte
            Empfehlungen
            geben soll.
            Somit soll es beispielsweise für Studierende die Möglichkeit geben, ihren individuellen Studienverlauf in
            der
            Webanwendung zu hinterlegen, um möglichst individuelle Studien- und Modulbelegungsempfehlungen zu erhalten.
            Dies
            soll
            Studierenden z. B. über eine optionale Upload-Funktion eines FlexNow-Exports nach entsprechender
            Einverständniserklärung möglich
            sein.
        </p>

        <h3>5. Rechtsgrundlage für die Datenverarbeitung:</h3>

        Nach Art. 6 Abs. 1 Unterabs. 1 Buchst. a, Art. 7 DSGVO ist die Verarbeitung nur rechtmäßig, wenn die betroffene
        Person ihre Einwilligung zu der Verarbeitung der sie betreffenden personenbezogenen Daten für einen oder mehrere
        bestimmte Zwecke gegeben hat.

        <h3>6. Details</h3>
        <div class="table-container p-2">
            <table class="w-100">
                <tbody>
                    <tr>
                        <td><b>Umgang mit den Daten / Art und Weise der Datenverarbeitung</b></td>
                        <td>Die Daten werden dem digitalen Studienassistenten durch meinen Upload
                            bereitgestellt. Die in dem Upload enthaltenen persönlichen Daten werden nicht gespeichert,
                            siehe
                            Inhalt der
                            Datensätze - d.</td>
                    </tr>
                    <tr>
                        <td><b>Inhalt der Datensätze</b></td>
                        <td>
                            <ol type="a">
                                <li>Daten zum Studium (z. B. Studiengang), Studienverlauf</li>
                                <li>Prüfungsdetaildaten (z. B. Belegungssemester, Note)</li>
                                <li>Angemeldete Lehrveranstaltungen</li>
                                <li>Persönliche Daten (im FlexNow Auszug enthalten: Name, Adresse, Matrikelnummer,
                                    Geschlecht,
                                    Nationalität,
                                    Telefonnummer)</li>
                            </ol>
                    </tr>
                    <tr>
                        <td><b>Ggf. Verarbeitung der Daten in anonymisierter, pseudonymisierter oder personenbezogener
                                Form
                            </b></td>
                        <td>Daten der Kategorie
                            (d)
                            werden nicht gespeichert und die Verarbeitung von Daten der Kategorien (a), (b) und (c)
                            erfolgt somit
                            pseudonymisiert.</td>
                    </tr>
                    <tr>
                        <td><b>Ort der Verarbeitung der Daten u. ä.</b></td>
                        <td>Digitaler Studienassistent</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>7. Personenkreis</h3>
        <p>Nur Projektbeteiligte des o. g. BMBF-Forschungsprojekts VoLL-KI der Uni Bamberg (Teilprojekt „Studienplanung
            an
            der Fakultät WIAI der Universität Bamberg“) sowie das System entwickelnde Mitarbeitende des Lehrstuhls für
            Medieninformatik erhalten Kenntnis meiner oben genannten Daten. Diese werden nicht an Dritte weitergegeben.
        </p>
        <h3>8. Löschung</h3>
        <p>Die Löschung meiner persönlichen oben genannten Studienverlaufsdaten ist jederzeit über eine entsprechende
            Funktionalität in der Anwendung möglich und wird mit Abschluss des Teilprojekts (30.11.2025) automatisch
            gelöscht,
            es sei denn, es erfolgt ein entsprechender Widerspruch.</p>
        <h3>9. Ihre Rechte hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten:</h3>
        <ol type="a">
            <li>Sie haben ein Recht auf Auskunft über die personenbezogenen Daten, die wir von Ihnen verarbeiten, sowie
                auf weitere mit der Verarbeitung zusammenhängende Informationen (Art. 15 DSGVO). Bitte beachten Sie,
                dass
                dieses Auskunftsrecht in bestimmten Fällen eingeschränkt oder ausgeschlossen sein kann.</li>

            <li>Für den Fall, dass personenbezogene Daten über Sie nicht (mehr) zutreffend oder unvollständig sind,
                können Sie eine Berichtigung und – unter Berücksichtigung des Zwecks der Verarbeitung –
                Vervollständigung
                dieser Daten
                verlangen (Art. 16 DSGVO).</li>
            <li>Bei Vorliegen eines gesetzlichen Grundes können Sie die Löschung Ihrer personenbezogenen Daten verlangen
                (Art. 17
                DSGVO).


                Dies ist insbesondere der Fall, wenn diese für die Zwecke, zu denen sie erhoben oder auf sonstige Weise
                verarbeitet
                wurden, nicht mehr notwendig sind oder eine erteilte Einwilligung zur Datenverarbeitung widerrufen wird
                und
                keine
                anderweitige Rechtsgrundlage für die Verarbeitung vorliegt.

                Das Recht auf Löschung besteht jedoch unter anderem dann nicht, wenn die Datenverarbeitung zur
                Wahrnehmung
                einer
                Aufgabe, die im öffentlichen Interesse liegt, erforderlich ist oder in Ausübung öffentlicher Gewalt
                erfolgt.
            </li>

            <li>Sofern eine der gesetzlichen Voraussetzungen vorliegt, können Sie die Einschränkung der Verarbeitung
                Ihrer
                personenbezogenen Daten verlangen (Art. 18 DSGVO). Dies hat zur Folge, dass die Daten zwar nicht
                gelöscht,
                aber
                gekennzeichnet werden, um ihre weitere Verarbeitung einzuschränken.</li>
            <li>Wenn Sie in die Verarbeitung eingewilligt haben oder ein Vertrag zur Datenverarbeitung besteht und die
                Datenverarbeitung mithilfe automatisierter Verfahren durchgeführt wird, steht Ihnen gegebenenfalls ein
                Recht
                auf
                Datenübertragbarkeit zu (Art. 20 DSGVO). Dabei erhalten Sie die Daten, die Sie der Universität Bamberg
                zur
                Verfügung
                gestellt haben, in einem strukturierten, gängigen und elektronischen Format.</li>
            <li>Aus Gründen, die sich aus Ihrer besonderen Situation ergeben, können Sie der Verarbeitung Sie
                betreffender
                personenbezogener Daten durch uns jederzeit widersprechen (Art. 21 DSGVO). Sofern die gesetzlichen
                Voraussetzungen
                vorliegen, verarbeiten wir in der Folge diese personenbezogenen Daten nicht mehr.</li>
            <li>Sie haben das Recht, sich beim behördlichen Datenschutzbeauftragten der Universität Bamberg (Art. 38
                Abs.
                4
                DSGVO)
                sowie bei der Aufsichtsbehörde (Art. 77 DSGVO) über die Verarbeitung Ihrer personenbezogenen Daten zu
                beschweren.
                Zuständige Aufsichtsbehörde ist der

                <b>Bayerische Landesbeauftragte für den Datenschutz</b>

                <mat-card class="contact-card p-2">
                    Prof. Dr. Thomas Petri<br>
                    Wagmüllerstraße 18, 80538 München<br>
                    Telefon: +49 89 212672 0<br>
                    <span style="white-space: nowrap;">E-Mail: <a
                            href="mailto:poststelle@datenschutz-bayern.de">poststelle&#64;datenschutz-bayern.de</a></span>
                </mat-card>
            </li>
        </ol>

        <p><b>Ich bin darauf hingewiesen worden, dass im Rahmen der vorstehend genannten Zwecke meine oben genannten
                Daten
                unter Beachtung des Bayerischen Datenschutzgesetzes (BayDSG) und der EU-Datenschutz-Grundverordnung
                (DSGVO)
                verarbeitet
                werden.</b></p>

        <p><b>Ich bin zudem darauf hingewiesen worden, dass die Verarbeitung meiner oben genannten Daten gemäß Art. 4
                Nr. 2
                DSGVO
                auf freiwilliger Basis erfolgt, ferner, dass ich mein Einverständnis ohne für mich nachteilige Folgen
                verweigern
                bzw.
                jederzeit mit Wirkung für die Zukunft widerrufen kann, wobei der Widerruf die Rechtmäßigkeit der
                Verarbeitung nicht
                rückwirkend beseitigt.</b></p>

        <p><b>Meine Widerrufserklärung werde ich richten an:</b></p>

        <mat-card class="contact-card p-2">
            Otto-Friedrich-Universität Bamberg<br>
            Lehrstuhl für Medieninformatik<br>
            An der Weberei 5, 96049 Bamberg<br>
            <span style="white-space: nowrap;">oder per E-Mail an: <a
                    href="mailto:sekretariat.minf@uni-bamberg.de">sekretariat.minf&#64;uni-bamberg.de</a></span>
        </mat-card>
    </ng-container>

    <ng-container *ngIf="version === 'bakule'">

        <h2>Einwilligungs&shy;erklärung</h2>

        <p>gemäß Art. 6 Abs. 1 Unterabs. 1 Buchst. a, Art. 7 und 4 Nr. 11 EU-Datenschutz-Grundverordnung (DSGVO) in die
            Verarbeitung personenbezogener Daten in dem Projekt "BaKuLe – Bamberger Kulturen der Lehre gemeinsam
            entwickeln (Stiftung Innovation in der Hochschullehre)" der Universität Bamberg.</p>

        <h3>1. Verantwortliche im Sinn von Art. 4 Nr. 7 DSGVO:</h3>

        <mat-card class="contact-card p-2">
            <b>Otto-Friedrich-Universität Bamberg</b><br>
            Präsident Prof. Dr. Kai Fischbach<br>
            Kanzlerin Dr. Dagmar Steuer-Flieser<br>
            Kapuzinerstraße 16<br>
            96047 Bamberg<br>
            Telefon: +49 951 863 0<br>
            Telefax: +49 951 863 1005<br>
            <span style="white-space: nowrap;">E-Mail:<a class="contact-mail"
                    href="mailto:ul.datenschutz@uni-bamberg">ul.datenschutz&#64;uni-bamberg</a></span>
        </mat-card>

        <h3>2. Leitung des Projekts:</h3>

        <mat-card class="contact-card p-2">
            Prof. Dr. Stefan Hörmann<br>
            Vizepräsident für Lehre und Studierende<br>
            An der Weberei 5, 96049 Bamberg<br>
            Telefon: +49 863 1925<br>
            <span style="white-space: nowrap;">E-Mail: <a
                    href="mailto:vp.lehre@uni-bamberg.de">vp.lehre&#64;uni-bamberg.de</a></span>
        </mat-card>

        <h3>3. Kontaktdaten des behördlichen Datenschutzbeauftragten:</h3>
        <mat-card class=" contact-card p-2">
            Datenschutzbeauftragter der Otto-Friedrich-Universität Bamberg<br>
            Kapuzinerstraße 25<br>
            96047 Bamberg<br>
            Telefon: +49 951 863 1030<br>
            Telefax: + 49 951 863 4030<br>
            <span style="white-space: nowrap;">E-Mail: <a
                    href="mailto:datenschutzbeauftragter@uni-bamberg.de">datenschutzbeauftragter&#64;uni-bamberg.de</a></span>
        </mat-card>

        <h3>4. Zweck des Projekts:</h3>
        <p>Im Rahmen des Forschungsprojekts zur individuellen Studienplanung an der Universität Bamberg werden
            Unterstützungsmaßnahmen zum zielorientierten und sinnstiftenden Studieren untersucht. Hierbei wird auf einer
            in den Projekten DiKuLe und VoLL-KI entwickelten Webanwendung (digitaler Studienassistent) aufgebaut, die
            die kurz- sowie langfristige Studienplanung unterstützt und in diesem Rahmen möglichst individuelle
            Unterstützung auf Basis des bisherigen Studienverlaufs bieten soll. Somit sollen beispielsweise
            studienbegleitend Vorschläge für den weiteren individuellen Bildungsweg (z. B. Kompetenzerwerb) entwickelt
            werden.</p>

        <h3>5. Rechtsgrundlage für die Datenverarbeitung:</h3>

        Nach Art. 6 Abs. 1 Unterabs. 1 Buchst. a, Art. 7 DSGVO ist die Verarbeitung nur rechtmäßig, wenn die betroffene
        Person ihre Einwilligung zu der Verarbeitung der sie betreffenden personenbezogenen Daten für einen oder mehrere
        bestimmte Zwecke gegeben hat.

        <h3>6. Details</h3>
        <div class="table-container p-2">
            <table class="w-100">
                <tbody>
                    <tr>
                        <td><b>Umgang mit den Daten / Art und Weise der Datenverarbeitung</b></td>
                        <td>Die Daten werden dem digitalen Studienassistenten nach ausdrücklicher Einwilligung über eine
                            FlexNow-Schnittstelle bereitgestellt.</td>
                    </tr>
                    <tr>
                        <td><b>Inhalt der Datensätze</b></td>
                        <td>
                            <ol type="a">
                                <li>Daten zum Studium, wie Studiengang, Studienstart, Status (z. B. „immatrikuliert“),
                                    Gesamt-ECTS, Notendurchschnitt</li>
                                <li>Prüfungsdetaildaten, wie belegte Module, Versuche, Status (z. B. „bestanden“),
                                    Belegungssemester, Note</li>
                                <li>Angemeldete Lehrveranstaltungen (z. B. Wartelistenplatz)</li>
                            </ol>
                    </tr>
                    <tr>
                        <td><b>Ggf. Verarbeitung der Daten in anonymisierter, pseudonymisierter oder personenbezogener
                                Form
                            </b></td>
                        <td>Die universitäre Kennung wird lediglich zum Abruf der Datensätze über die Schnittstelle
                            verarbeitet und serverseitig nicht gespeichert. Die anschließende Verarbeitung von Daten der
                            Kategorien (a), (b) und (c) erfolgt pseudonymisiert.</td>
                    </tr>
                    <tr>
                        <td><b>Ort der Verarbeitung der Daten u. ä.</b></td>
                        <td>Digitaler Studienassistent</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>7. Personenkreis</h3>
        <p>Nur Projektbeteiligte des o. g. Projekts mit Bezug zum digitalen Studienassistenten sowie das System
            entwickelnde Mitarbeitende des Lehrstuhls für Medieninformatik erhalten Kenntnis meiner oben genannten
            Daten. Diese werden nicht an Dritte weitergegeben.</p>
        <h3>8. Löschung</h3>
        <p>Die Löschung meiner persönlichen oben genannten Studienverlaufsdaten ist jederzeit über eine entsprechende
            Funktionalität in der Anwendung möglich und wird mit Abschluss des Projekts 2029 – bzw. im Falle einer
            Verlängerung – 2031 automatisch gelöscht, es sei denn, es erfolgt ein entsprechender Widerspruch.</p>
        <h3>9. Ihre Rechte hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten:</h3>
        <ol type="a">
            <li>Sie haben ein Recht auf Auskunft über die personenbezogenen Daten, die wir von Ihnen verarbeiten, sowie
                auf weitere mit der Verarbeitung zusammenhängende Informationen (Art. 15 DSGVO). Bitte beachten Sie,
                dass
                dieses Auskunftsrecht in bestimmten Fällen eingeschränkt oder ausgeschlossen sein kann.</li>

            <li>Für den Fall, dass personenbezogene Daten über Sie nicht (mehr) zutreffend oder unvollständig sind,
                können Sie eine Berichtigung und – unter Berücksichtigung des Zwecks der Verarbeitung –
                Vervollständigung
                dieser Daten
                verlangen (Art. 16 DSGVO).</li>
            <li>Bei Vorliegen eines gesetzlichen Grundes können Sie die Löschung Ihrer personenbezogenen Daten verlangen
                (Art. 17
                DSGVO).


                Dies ist insbesondere der Fall, wenn diese für die Zwecke, zu denen sie erhoben oder auf sonstige Weise
                verarbeitet
                wurden, nicht mehr notwendig sind oder eine erteilte Einwilligung zur Datenverarbeitung widerrufen wird
                und
                keine
                anderweitige Rechtsgrundlage für die Verarbeitung vorliegt.

                Das Recht auf Löschung besteht jedoch unter anderem dann nicht, wenn die Datenverarbeitung zur
                Wahrnehmung
                einer
                Aufgabe, die im öffentlichen Interesse liegt, erforderlich ist oder in Ausübung öffentlicher Gewalt
                erfolgt.
            </li>

            <li>Sofern eine der gesetzlichen Voraussetzungen vorliegt, können Sie die Einschränkung der Verarbeitung
                Ihrer
                personenbezogenen Daten verlangen (Art. 18 DSGVO). Dies hat zur Folge, dass die Daten zwar nicht
                gelöscht,
                aber
                gekennzeichnet werden, um ihre weitere Verarbeitung einzuschränken.</li>
            <li>Wenn Sie in die Verarbeitung eingewilligt haben oder ein Vertrag zur Datenverarbeitung besteht und die
                Datenverarbeitung mithilfe automatisierter Verfahren durchgeführt wird, steht Ihnen gegebenenfalls ein
                Recht
                auf
                Datenübertragbarkeit zu (Art. 20 DSGVO). Dabei erhalten Sie die Daten, die Sie der Universität Bamberg
                zur
                Verfügung
                gestellt haben, in einem strukturierten, gängigen und elektronischen Format.</li>
            <li>Aus Gründen, die sich aus Ihrer besonderen Situation ergeben, können Sie der Verarbeitung Sie
                betreffender
                personenbezogener Daten durch uns jederzeit widersprechen (Art. 21 DSGVO). Sofern die gesetzlichen
                Voraussetzungen
                vorliegen, verarbeiten wir in der Folge diese personenbezogenen Daten nicht mehr.</li>
            <li>Sie haben das Recht, sich beim behördlichen Datenschutzbeauftragten der Universität Bamberg (Art. 38
                Abs.
                4
                DSGVO)
                sowie bei der Aufsichtsbehörde (Art. 77 DSGVO) über die Verarbeitung Ihrer personenbezogenen Daten zu
                beschweren.
                Zuständige Aufsichtsbehörde ist der

                <b>Bayerische Landesbeauftragte für den Datenschutz</b>

                <mat-card class="contact-card p-2">
                    Prof. Dr. Thomas Petri<br>
                    Wagmüllerstraße 18, 80538 München<br>
                    Telefon: +49 89 212672 0<br>
                    <span style="white-space: nowrap;">E-Mail: <a
                            href="mailto:poststelle@datenschutz-bayern.de">poststelle&#64;datenschutz-bayern.de</a></span>
                </mat-card>
            </li>
        </ol>

        <p><b>Ich bin darauf hingewiesen worden, dass im Rahmen der vorstehend genannten Zwecke meine oben genannten
                Daten
                unter Beachtung des Bayerischen Datenschutzgesetzes (BayDSG) und der EU-Datenschutz-Grundverordnung
                (DSGVO)
                verarbeitet
                werden.</b></p>

        <p><b>Ich bin zudem darauf hingewiesen worden, dass die Verarbeitung meiner oben genannten Daten gemäß Art. 4
                Nr. 2
                DSGVO
                auf freiwilliger Basis erfolgt, ferner, dass ich mein Einverständnis ohne für mich nachteilige Folgen
                verweigern
                bzw.
                jederzeit mit Wirkung für die Zukunft widerrufen kann, wobei der Widerruf die Rechtmäßigkeit der
                Verarbeitung nicht
                rückwirkend beseitigt.</b></p>

        <p><b>Meine Widerrufserklärung werde ich richten an:</b></p>

        <mat-card class="contact-card p-2">
            Otto-Friedrich-Universität Bamberg<br>
            Lehrstuhl für Medieninformatik<br>
            An der Weberei 5, 96049 Bamberg<br>
            <span style="white-space: nowrap;">oder per E-Mail an: <a
                    href="mailto:baula.minf@uni-bamberg.de">baula.minf&#64;uni-bamberg.de</a></span>
        </mat-card>
    </ng-container>
</div>