<div *ngIf="user$ | async as user" class="container mx-auto my-3 my-md-5">
    <div class="row">
        <div class="col-12 col-lg text-center text-lg-start">
            <h1 class="d-flex align-items-center gap-2">
                Personalisierung
                <span class="badge beta-badge">Beta</span>
            </h1>
        </div>
    </div>
    <app-hint [key]="personalisationHint" [hintMessage]="personalisationMessage"></app-hint>
    <div class="row">
        <nav class="col-12 col-lg-2 d-flex flex-lg-column flex-row mb-3 mb-lg-0">
            <div class="mx-2 link" role="button" tabindex="0" aria-haspopup="false" aria-label="Einstellungen zu Topics"
                (click)="navigate('topics')">
                <h4 id="recs-settings" class="mb-0" [class.selected]="activeRoute == 'topics'">
                    <i class="me-2 bi bi-hand-thumbs-up"></i>
                    <span>Interessen</span>
                </h4>
            </div>
            <hr />
            <div class="mx-2 link" role="button" tabindex="0" aria-haspopup="false"
                aria-label="Einstellungen zu Jobanzeigen" (click)="navigate('jobs')">
                <h4 id="recs-settings" class="mb-0" [class.selected]="activeRoute == 'jobs'">
                    <i class="me-2 bi bi-signpost"></i>
                    <span>Jobanzeigen</span>
                </h4>
            </div>
        </nav>
        <div class="col-12 col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>