@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 1rem;

        button {
            width: 100%;
        }
    }
}