<div class="container mx-auto my-3 my-md-5">
  <div class="row my-4 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="row justify-content-center">
        <h1 class="text-center text-md-start">Bisherige Publikationen</h1>
      </div>
      <mat-card class="p-3 mb-4">
        <h3 class="mt-0">Interesse an einem Demo Zugang zu Baula?</h3>
        <div>Dann melde dich einfach unter unserer E-Mail-Adresse <a href="mailto:baula.minf@uni-bamberg.de">
          baula.minf&#64;uni-bamberg.de</a>. Gerne vergeben wir auf Anfrage zeitlich befristete Demo-Accounts an 
          interessierte Forschende, Mitarbeitende, Studierende und Studieninteressenten.</div>
      </mat-card>

      <!-- Icons 
    <i class="bi bi-file-earmark-bar-graph me-2 fs-5"></i>
    <i class="bi bi-file-earmark-text me-2 fs-5"></i>
    <i class="bi bi-file-earmark-easel me-2 fs-5"></i>
    -->
      <p class="my-2">
        <i class="bi bi-file-earmark-text me-2 fs-5"></i>
        <span>Ochs, M., Hirmer, T. & Henrich, A. (2025). Upcycling UnivIS: Discovering Study Planning 2.0. 
          Datenbanksysteme für Business, Technologie und Web (BTW 2025). Gesellschaft für Informatik, Bonn. 
          pp. 859-865. Demo Track. Bamberg. 3.-7. März 2025.  
          <a class="link"  href="https://doi.org/10.18420/BTW2025-52"> https://doi.org/10.18420/BTW2025-52</a>.
        </span>
      </p>
      <p class="my-2">
        <i class="bi bi-file-earmark-text me-2 fs-5"></i>
        <span>Hirmer, T., Ochs, M., & Henrich, A. (2024). Baula – die digitale Studienplanungsassistentin 
          an der Universität Bamberg. Zeitschrift für Hochschulentwicklung, 19(4), 15–36.  
          <a class="link"  href="https://doi.org/10.21240/zfhe/19-4/02"> https://doi.org/10.21240/zfhe/19-4/02</a>.
        </span>
      </p>
      <p class="my-2">
        <i class="bi bi-file-earmark-text me-2 fs-5"></i>
        <span>Bartel, L., Ochs, M., Hirmer, T., Henrich, A. (2024). Design Principles for a Study Planning Assistant in
          Higher
          Education. In Proceedings of the 2024 ACM SIGIR Conference on Human Information Interaction and Retrieval
          (CHIIR ’24), Sheffield, United Kingdom. ACM, New York, NY, USA, 243–253. <a class="link"
            href="https://doi.org/10.1145/3627508.3638327">https://doi.org/10.1145/3627508.3638327</a>.
        </span>
      </p>
      <p class="my-2">
        <i class="bi bi-file-earmark-text me-2 fs-5"></i>
        <span>Hirmer, T., Ochs, M., Henrich, A. (2024). Vertical Search Scenarios within a Digital Study
          Planning Assistant. In: M. Leyer, Wichmann, J. (Eds.): Proceedings of the LWDA 2023 Workshops: BIA, DB, IR,
          KDML and WM, Marburg, Germany. <a class="link"
            href="https://ceur-ws.org/Vol-3630/LWDA2023-paper22.pdf">https://ceur-ws.org/Vol-3630/LWDA2023-paper22.pdf</a>.
        </span>
      </p>
      <p class="my-2">
        <i class="bi bi-file-earmark-bar-graph me-2 fs-5"></i>
        <span>Hirmer, T., Ochs, M., Stöckl, A., Völker, A. (2023). Nutzung von Studienverlaufsdaten im
          Kontext eines Studienplanungsassistenten. Workshops der 21. Fachtagung Bildungstechnologien (DELFI), Bonn:
          Gesellschaft für Informatik e.V., pp. 177-180,
          <a class="link" href="https://doi.org/10.18420/wsdelfi2023-51">10.18420/wsdelfi2023-51</a>.</span>
      </p>
      <p class="my-2">
        <i class="bi bi-file-earmark-text me-2 fs-5"></i>
        <span>Ochs, M., Hirmer, T., Henrich, A. (2023). Concept and Possible Impacts of a Study Planning Assistant in
          Higher Education. In 2023 International Symposium on Educational Technology (ISET), Ho Man Tin, Hong Kong, pp.
          161-165. IEEE,
          <a class="link" href="https://doi.org/10.1109/ISET58841.2023.00039">10.1109/ISET58841.2023.00039</a>.</span>
      </p>
      <p class="my-2">
        <i class="bi bi-file-earmark-text me-2 fs-5"></i>
        <span>Hirmer, T., Ochs, M., Rottmann, S., Past, K., Henrich, A. (2023). Course Selection Criteria And Digital
          Assistance In A Modularized World. ICERI2023 Proceedings, pp. 4626-4631.</span>
      </p>
      <p class="my-2">
        <i class="bi bi-file-earmark-text me-2 fs-5"></i>
        <span>Ochs, M., Hirmer, T., Past, K., & Henrich, A. (2023). Design-focused
          development of a course recommender system for digital study planning. In
          European Conference on Advances in Databases and Information Systems (pp.
          575-582). Cham: Springer,
          <a class="link"
            href="https://doi.org/10.1007/978-3-031-42941-5_50">https://doi.org/10.1007/978-3-031-42941-5_50</a>.</span>
      </p>
      <p class="my-2">
        <i class="bi bi-file-earmark-bar-graph me-2 fs-5"></i>
        <span>Hirmer, T., Ochs, M., & Henrich, A. (2023). Studierende und die
          Studienplanung: Untersuchung von Herausforderungen und
          Entwicklungsperspektiven eines digitalen Studienplanungsassistenten.
          Poster auf der DELFI 2023, Aachen,
          <a class="link" href="https://doi.org/10.18420/delfi2023-60">https://doi.org/10.18420/delfi2023-60</a>.</span>
      </p>
      <p class="my-2">
        <i class="bi bi-file-earmark-easel me-2 fs-5"></i>
        <span>Hirmer, T. & Ochs, M. (2023). Potentiale und erste Erfahrungen bei der
          Umsetzung eines digitalen Studienplanungsassistenten. Vortrag auf dem
          University:Future Festival – Heads Up! Hochschulforum Digitalisierung,
          <a class="link"
            href="https://www.youtube.com/watch?v=3a5SJyTz2K8#t=22m01s">https://www.youtube.com/watch?v=3a5SJyTz2K8#t=22m01s</a>.</span>
      </p>
      <p class="my-2">
        <i class="bi bi-file-earmark-easel me-2 fs-5"></i>
        <span>Hirmer, T. & Stöckl, A. (2022). Der digitale Studienassistent zur
          Unterstützung der Studienplanung – ein Erfahrungsbericht. Vortrag im
          Rahmen der Bamberger Best Practices.</span>
      </p>
      <p class="my-2">
        <i class="bi bi-file-earmark-text me-2 fs-5"></i>
        <span>Hirmer, T., Etschmann, J., & Henrich, A. (2022). Requirements and
          Prototypical Implementation of a Study Planning Assistant in CS Programs.
          In 2022 International Symposium on Educational Technology (ISET) (pp.
          281-285). IEEE,
          <a class="link"
            href="https://doi.org/10.1109/ISET55194.2022.00066">https://doi.org/10.1109/ISET55194.2022.00066</a>.</span>
      </p>
    </div>
  </div>
</div>