<ng-container role="Dialoginhalt">
  <form [formGroup]="addModuleForm">
    <div class="content-wrapper">
      <p class="mb-4" i18n>
        Hier findest du eine Auflistung aller Module aus deinem Modulhandbuch. <br> Tippe, um die Suche zu starten.
      </p>
      <mat-form-field class="study-course-field search-input-field" appearance="outline">
        <mat-label i18n>Wähle das neue Modul:</mat-label>
        <input type="text" class="input-with-clear-icon" placeholder="Suche nach einem Modul"
          aria-label="Suchfeld für Module" formControlName="moduleName" matInput [matAutocomplete]="auto" required i18n-placeholder i18n-aria-label/>

          <span class="btn-icon d-inline" (click)="clearInput()" (keyup.enter)="clearInput()">
            <i class="bi bi-x-lg text-gray"></i>
          </span>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectModule($event)">
            @for (module of filteredModules | async; track module) {
              <mat-option [value]="module.name">
                {{ module.acronym }}: {{ module.name }}
              </mat-option>
            }
          </mat-autocomplete>
          @if (
            addModuleForm.controls.moduleName.touched &&
            addModuleForm.controls.moduleName.invalid
            ) {
            <mat-error>@if (addModuleForm.controls.moduleName.errors?.required) {
              <span i18n>Das ist ein
              Pflichtfeld.</span>
            }</mat-error>
          }
        </mat-form-field>
        @if (displayPriorModuleWarning) {
          <div class="warning-box alert-sm alert-warning w-100">
            <i class="bi bi-exclamation-circle"></i> {{ warningMessage }}
          </div>
        }
        <mat-dialog-actions>
          <button mat-raised-button class="btn btn-outline" mat-dialog-close i18n>
            Abbrechen
          </button>
          <button mat-raised-button class="btn btn-primary" [disabled]="!addModuleForm.valid || !isModuleSelected"
            [mat-dialog-close]="getSelectedModuleFromDialog()" i18n>
            Hinzufügen
          </button>
        </mat-dialog-actions>
      </div>
    </form>
  </ng-container>