<mat-expansion-panel class="m-2 py-2">
    <mat-expansion-panel-header>
        <mat-panel-title class="text-truncate" [matTooltip]="cg.name">
            {{ cg.compId | formatCompetence }} - {{ cg.name }}
        </mat-panel-title>
        <mat-panel-description>
            <!-- Display Sum of lower competences -->
            {{ cgFormControl.value }} ECTS
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container-fluid">
        <!-- for first test only set aim on uppest level -->
        <div class="row">
            <div class="col-5 col-md-7 my-auto">
                {{ cg.name }}
            </div>
            <div class="col-7 col-md-4">
                <mat-slider class="w-100" min="0" max="20" step="1" showTickMarks discrete>
                    <input #slider [formControl]="cgFormControl" matSliderThumb (valueChange)="updateAim(slider.value)">
                </mat-slider>
            </div>
            <div class="d-none d-sm-flex align-items-center col-sm-1">
                <input #input class="w-100" type="number" (change)="updateAim(input.value)" [formControl]="cgFormControl" step="1" min="0" max="20">
            </div>
        </div>
        <div class="row p-2" [innerHtml]="cg.desc"></div>
        <div class="row" *ngIf="competences$ | async as competences" >
            <div class="col-9">
                <p class="mt-3">Hierunter fallen folgende Kompetenzziele:</p>
                <ul>
                    <ng-container *ngFor="let comp of competences">
                        <li class="p-1" *ngIf="comp.parentId == cg.compId">
                            {{comp.compId | formatCompetence }} 
                            <span *ngIf="comp.name && comp.name.length > 1"> - {{ comp.name }}</span> 
                            <span *ngIf="comp.desc && comp.desc.length > 1" > - {{ comp.desc }}</span>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <!-- Code to enable Slider on lower competence levels -->
        <!-- <ng-container *ngFor="let comp of comps">
            <div class="row" *ngIf="comp.parentId == cg.compId">
                <div class="col-5 col-sm-3 col-md-2 my-auto">
                    {{ comp.compId | formatCompetence }}
                </div>
                <div class="col-sm-5 col-md-7 d-none d-sm-inline my-auto text-truncate">
                    {{ comp.name }}
                </div>
                <div class="col-7 col-sm-3 col-md-2">
                    <mat-slider class="w-100" min="1" max="5" step="0.1" showTickMarks discrete>
                        <input matSliderThumb>
                    </mat-slider>
                </div>
                <div class="d-none d-sm-inline col-md-1 col-sm-1">
                    <input class="w-100" type="number">
                </div>
            </div>
        </ng-container> -->
    </div> 
</mat-expansion-panel>