@if(cardData(); as cardData) {
<mat-card>
    <mat-card-header>
        <mat-card-title>{{ cardData.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-2">
        @for(item of cardData.items; track item) {
            <div class="m-2">
                <i class="me-1 bi" [class]="item.iconClass"></i>
                <span class="me-1 fw-bolder">{{ item.name }}</span>
                <span class="me-1">{{ item.data }}</span>
                @if(item.tooltip) {
                    <i class="bi bi-info-circle"
                            [matTooltip]="item.tooltip"></i>
                }
            </div>
        }
        <div class="m-2">
            <button class="btn btn-primary" (click)="exportReport()">
                <i class="bi bi-file-earmark-arrow-down"></i>
                <span class="ms-1">Export (JSON)</span>
            </button>
        </div>
    </mat-card-content>
</mat-card>
}
