.feedback {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #054479;
  border: 2px solid white;
  border-radius: 50%;
  padding: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: bounce 1s 4 3s;
  z-index: 90;
  font-size: x-large;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.header-row {
  padding: 0 16px;
}

.feedback:hover {
  background-color: #c9424f;
  transform: scale(1.1);
  opacity: 1;
  visibility: visible;
}

.feedback:active {
  color: var(--ub-gray-20);
  transform: translateY(2px);
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.dashboard-tile {
  flex: 1 1 100%;
  min-width: 200px;
  box-sizing: border-box;
  height: fit-content;
  width: fit-content;
}

.dashboard-tile.extra-small-tile {
  flex: 1 1 calc(12.5% - 16px);
}

.dashboard-tile.small-tile {
  flex: 1 1 calc(25% - 16px);
}

.dashboard-tile.medium-tile {
  flex: 1 1 calc(37.5% - 16px);
}

.dashboard-tile.large-tile {
  flex: 1 1 calc(50% - 16px);
}

.dashboard-tile.full-tile {
  flex: 1 1 100%;
}

@media (max-width: 960px) {
  .dashboard-tile.small-tile,
  .dashboard-tile.large-tile,
  .dashboard-tile.full-tile {
    flex: 1 1 100%;
  }
}

/*für mobile Geräte */
@media (max-width: 600px) {
  .feedback {
    bottom: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    font-size: medium;
  }
}
