// overwrite dialog-container min-width
.dialog-container {
    min-width: 50vw;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .user-dialog {
        width: 60vw;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .user-dialog {
        width: 50vw;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .user-dialog {
        width: 40vw;
    }
}