.vertical-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vertical-tabs .mat-tab-header {
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  flex: none;
  overflow: visible !important;
}

.vertical-tabs .mat-tab-labels {
  display: flex;
  flex-direction: column;
}

.vertical-tabs .mat-tab-label {
  flex-direction: row;
  width: 100%;
  max-width: 100%;
}

.vertical-tabs .mat-tab-body-wrapper {
  flex-grow: 1;
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  min-height: 70px;
  background-color: #f9f9f9;
  margin-bottom: 16px;
}

.drop-area-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.item-card {
  padding: 8px;
  cursor: grab;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.item-card span {
  flex-grow: 1;
  margin-right: 8px;
}

.info-box-petrol {
  font-size: 0.75rem;
  margin: 8px 16px;
}

.selected {
  background-color: #f3feff;
  border: 1px solid #ddf3f5;
  font-weight: bold;
}

.drop-area-irrelevant {
  border: 2px dashed red;
  background-color: #ffe5e5;
  min-height: 100px;
  border-radius: 8px;
}

.mod-details {
  cursor: pointer;
  color: var(--ub-blue)
}

.completed {
  background-color: #d4edda;
}

.toggable-text {
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 0.7rem !important;

  &.collapsed {
    display: -webkit-box;
    -webkit-line-clamp: 3; // show 3 lines with fade
    -webkit-box-orient: vertical;
    max-height: 4.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
  }

  // fading effect
  &.collapsed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    background: linear-gradient(to bottom, transparent, white);
  }
}

.title-actions-wrapper {
  width: 100%;
  gap: 1rem;
}

.title-text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.actions-wrapper {
  flex-shrink: 0;
}

.sticky-container {
  position: sticky;
  top: 2rem;
  align-self: start;
}