<div class="container">
    <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
        <mat-tab label="Reporting">
            <div class="mt-4">
                <admin-reporting></admin-reporting>
            </div>
        </mat-tab>
        <mat-tab label="MHB-Upload">
            <div class="mt-4">
                <fn2dnd></fn2dnd>
            </div>
        </mat-tab>
        <mat-tab label="UnivIS-Crawl">
            <div class="mt-4">
                <admin-univis-crawl></admin-univis-crawl>
            </div>
        </mat-tab>
        <mat-tab label="Modul-LV-Verknüpfung">
            <div class="mt-4">
                <admin-module-course-connection></admin-module-course-connection>
            </div>
        </mat-tab>
        <mat-tab label="Daten verwalten">
            <div class="mt-4">
                <admin-panel></admin-panel>
            </div>
        </mat-tab>
        <mat-tab label="Empfehlung">
            <div class="mt-4">
                <admin-recs></admin-recs>
            </div>
        </mat-tab>
        <mat-tab label="Error-Logs">
            <div class="mt-4">
                <admin-error-logs></admin-error-logs>
            </div>
        </mat-tab>
        <mat-tab label="Umfrage">
            <div class="mt-4">
                <lte-result-page></lte-result-page>
            </div>
        </mat-tab>
        <mat-tab label="Sonstiges">
            <div class="mt-4">
                <other-actions></other-actions>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>