.drop-zone {
  width: 75%;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;
}

.drop-zone input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.drop-zone label {
  color: white;
  width: 100%;
  height: auto;
  border-radius: 21.5px;
  background-color: var(--ub-blue);
  padding: 8px 16px;
}

@media(max-width: 575.98px) {
  .drop-zone {
    width: 100%;
    height: auto;
    padding: 1rem;
  }
}