<div class="dialog-container" role="dialog" aria-label="Dialogfenster" i18n-aria-label>
    <div class="dialog-body">
        <mat-dialog-content>
            <div class="d-flex justify-content-between align-items-center">
                <h3 i18n>Allgemeine Informationen:</h3>
                <button mat-dialog-close class="btn btn-outline text-gray" tabindex="0" aria-label="Schließen" i18n-aria-label="Knopf zum Fenster schließen"> <i
                        class="bi bi-x-lg text-gray fs-4"></i>
                </button>
            </div>

            <div class="alert alert-info" i18n>
                Die "Allgemeinen Informationen" sind aus dem aktuell immatrikulierten Studiengang entnommen.
                Sofern es mehrere Studiengänge sind, wurden die Angaben des ersten Studiengangs übernommen.
                Sobald Baula mehrere Studiengänge unterstützt, würden hier die Angaben kombiniert werden.
            </div>
            <ul>
                <li><span class="fw-bold" i18n>Startsemester: </span>{{ (data.metadata.startSemester ?
                    data.metadata.startSemester : '') | Semester}}</li>
                <li><span class="fw-bold" i18n>Dauer: </span>{{ data.metadata.duration }}</li>
                <li><span class="fw-bold" i18n>angestrebte ECTS: </span>{{ data.metadata.maxEcts }}</li>
                <li><span class="fw-bold" i18n>Vollzeit? </span>{{ data.metadata.fulltime ? 'Ja' : 'Nein' }}</li>
            </ul>
            <hr class="my-2" />
            <h3 i18n>Angaben zu Studiengängen:</h3>
            @for (sp of data.metadata.sps; track sp.spId) {
            <mat-card appearance="outlined" class="m-2 p-2">
                <mat-card-header>
                    <mat-card-title>{{ sp.name }} ({{ sp.faculty }})</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div i18n>Status: {{ sp.status }}</div>
                    <div i18n>Studiendauer: {{ sp.duration }}</div>
                    <div i18n>ECTS: {{ sp.maxEcts }}</div>
                </mat-card-content>
            </mat-card>
            } @empty {
            <div class="alert alert-warning" i18n>Keine Studiengänge im FlexNow-Auszug gefunden.</div>
            }
            @if(data.studypath) {
            <hr class="my-2" />
            <h3 i18n>Studienverlauf:</h3>
            @for (module of data.studypath.completedModules; track module.mId) {
            <mat-card appearance="outlined" class="m-2 p-2">
                <mat-card-header>
                    <mat-card-title>{{ module.acronym }}</mat-card-title>
                    <mat-card-subtitle>{{ module.semester | Semester }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div i18n>Status: {{ module.status }}</div>
                    <div i18n>Note: {{ module.grade }}</div>
                    <div i18n>ECTS: {{ module.ects }}</div>
                    <div>
                        <div>Versuche:</div>
                        @for(attempt of module.examAttempts; track trackByCombinedKey([attempt.examId, attempt.semester, $index.toString()]))
                        {
                        <ul>
                            <li i18n>{{ attempt.name }} ({{ attempt.count }}. Versuch) - {{ attempt.semester | Semester }} -
                                {{ attempt.remark }} - {{ attempt.grade ?? 'Keine Note gefunden!' }}</li>
                        </ul>
                        }
                    </div>
                    <div>
                        <div i18n>Modulgruppen:</div>
                        <ul>
                            @for(mg of module.moduleGroups; track trackByCombinedKey([mg.mgId, $index.toString()])) {
                            <li>{{ mg.mgId }} (Version {{ mg.version }})
                                @if(findModuleGroup(mg.mgId) | async; as matchingMg) {
                                <div>{{ matchingMg.name }}</div>
                                } @else {
                                <div i18n>Die Modulgruppe ist nicht in deinem Modulhandbuch vorhanden oder das Modulhandbuch ist noch nicht geladen.</div>
                                }
                            </li>
                            }
                        </ul>
                    </div>
                </mat-card-content>
            </mat-card>
            } @empty {
            <div class="alert alert-warning" i18n>Keine abgeschlossenen Module im FlexNow-Auszug gefunden.</div>
            }
            }
            <hr class="my-2" />
            <div class="d-flex justify-content-between">
                <h3 i18n>Extrahierte JSON-Daten:</h3>
                <button class="btn btn-secondary" (click)="copyToClipboard(data.raw)"><i class="bi bi-clipboard"></i></button>
            </div>
            
            <pre>
                {{ data.raw | json}}
            </pre>
            <hr class="my-2" />
            <div class="d-flex justify-content-between">
                <h3 i18n>FlexNow Daten:</h3>
                <button class="btn btn-secondary" (click)="copyToClipboard(data.xml)"><i class="bi bi-clipboard"></i></button>
            </div>
            <pre>
                {{ data.xml }}
            </pre>
        </mat-dialog-content>
    </div>
</div>