<mat-accordion class="moduleGroup" multi>
  <!-- iterate over the modules and display all modules that are children from the higher modulegroup -->
  @for (module of structure; track module; let i = $index) {
    <mat-expansion-panel class="my-3 shadow-none border-bottom pb-2">
      <!-- display the name of the modulegroup -->
      <mat-expansion-panel-header>
        <span class="moduleGroupHeader">{{ module.containerName }}</span>
      </mat-expansion-panel-header>
      <!-- display all courses of this modulegroup-->
      @if (module.courses) {
        <div id="collapse">
          <div>
            @if (module.courses.length > 0) {
              @if (selectedCourses$ | async; as selectedCourses) {
                @for (course of module.courses; track course) {
                  <div class="mb-3">
                    <app-course-item
                      [course]="course"
                      [selectedCourses]="selectedCourses"
                      [moduleId]="module.containerId"
                      >
                    </app-course-item>
                  </div>
                }
              }
            } @else {
              <div> Derzeit keine Lehrveranstaltungen vorhanden!</div>
            }
            <!--TODO Better Message? Maybe give a possible message as prop from parent component-->
          </div>
        </div>
      }
    </mat-expansion-panel>
  }
</mat-accordion>