span {
  float: left;
  text-align: left;
  width: 90%;
  padding: 5px;
}

.moduleGroup {
  cursor: pointer;
}

.moduleGroupHeader {
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .courselist {
    font-size: 0.9em;
    margin: 0 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .moduleGroupHeader {
    font-size: 0.9em;
  }
  
  .courselist {
    font-size: 0.8em;
    margin: 0 10px;
  }
}
  